<div class="layout-px-spacing">

    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12">

            <div class="mail-box-container d-block">
                <div class="row w-md-100">
                    <div class="col-md-3 col-12">
                        <div class="tab-title h-100">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12 text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-clipboard">
                                        <path
                                            d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                                        </path>
                                        <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                                    </svg>
                                    <h5 class="app-title">Notifications</h5>
                                </div>


                                <div class="col-md-12 col-sm-12 col-12 mt-4 pl-0">
                                    <ul class="nav nav-pills d-block" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link list-actions active" id="all-list" data-toggle="pill"
                                                href="#pills-inbox" role="tab" aria-selected="true"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-list">
                                                    <line x1="8" y1="6" x2="21" y2="6"></line>
                                                    <line x1="8" y1="12" x2="21" y2="12"></line>
                                                    <line x1="8" y1="18" x2="21" y2="18"></line>
                                                    <line x1="3" y1="6" x2="3" y2="6"></line>
                                                    <line x1="3" y1="12" x2="3" y2="12"></line>
                                                    <line x1="3" y1="18" x2="3" y2="18"></line>
                                                </svg> Conciergerie <span class="todo-badge badge"></span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link list-actions" id="todo-task-done" data-toggle="pill"
                                                href="#pills-sentmail" role="tab" aria-selected="false"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-list">
                                                    <line x1="8" y1="6" x2="21" y2="6"></line>
                                                    <line x1="8" y1="12" x2="21" y2="12"></line>
                                                    <line x1="8" y1="18" x2="21" y2="18"></line>
                                                    <line x1="3" y1="6" x2="3" y2="6"></line>
                                                    <line x1="3" y1="12" x2="3" y2="12"></line>
                                                    <line x1="3" y1="18" x2="3" y2="18"></line>
                                                </svg>Livraison <span class="todo-badge badge"></span></a>
                                        </li>

                                    </ul>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="col pl-md-0">
                        <div id="todo-inbox" class="accordion todo-inbox">


                            <div class="tab-title ">

                                <div id="ct" [infiniteScrollDistance]="4" infiniteScroll (scrolled)="onScroll()">





                                    <div [ngClass]="{'notSeenNotif': !item.seen }" class="todo-item all-list"
                                        *ngFor="let item of notifServ.notifications">
                                        <div class="todo-item-inner">


                                            <div class="todo-content">
                                                <h5 class="todo-heading">

                                                    <span *ngIf="item.jobRequest.service==1">
                                                        {{'GENERAL.CONCIERGERIE_REQUEST' | translate}} </span>
                                                    <span *ngIf="item.jobRequest.service==2">
                                                        {{'GENERAL.DELIVERY_REQUEST' | translate}}</span>


                                                    <span *ngIf="item.jobRequest.service==1">
                                                        {{'CONCIERGERIE.AT' | translate}}
                                                        {{ item?.jobRequest?.pickUp?.pickUpAddress}}
                                                    </span>

                                                </h5>
                                                <div class="notification-para">
                                                    <div class=" font-weight-bold ">


                                                        <span class="shadow-none  text-primary"
                                                            *ngIf="item.jobStatus==1">
                                                            {{'NOTIFICATION.STATUS.NEW'| translate}}
                                                        </span>


                                                        <span [ngClass]="{
                                                            'text-primary': item.jobStatus==1,
                                                            'text-warning': item.jobStatus==2,
                                                            'text-success': item.jobStatus==3,
                                                            'text-danger': item.jobStatus== 4 || item.jobStatus== 7|| item.jobStatus== 8|| item.jobStatus== 14|| item.jobStatus== 15|| item.jobStatus== 16,
                                                            'text-info': item.jobStatus==5 || item.jobStatus==6
                                                       
                                                            
                                                    }" class="mr-1 ">
                                                            {{ item.jobRequest.service == 1 ? ' Conciergerie ' :''}}
                                                            <span *ngIf="item.jobRequest.service == 2">
                                                                {{'GENERAL.DELIVERY_REQUEST' | translate}}
                                                                ( {{item.jobRequest.pickUp ? ' ramassage ' : ' dépôt '}}
                                                                )
                                                            </span>
                                                            <span *ngIf="item.jobRequest.service == 4">
                                                                {{'SIDENAV.EXPRESS_DELIVERY' | translate }}

                                                            </span>

                                                        </span>


                                                        <span class="shadow-none  text-warning"
                                                            *ngIf="item.jobStatus==2">
                                                            {{'NOTIFICATION.STATUS.ASSIGNED'| translate}}
                                                        </span>
                                                        <span class="shadow-none  text-success"
                                                            *ngIf="item.jobStatus==3">
                                                            {{'NOTIFICATION.STATUS.ACCEPTED'| translate}}
                                                        </span>
                                                        <span class="shadow-none  text-danger"
                                                            *ngIf="item.jobStatus==4">
                                                            {{'NOTIFICATION.STATUS.DECLINED'| translate}}
                                                        </span>
                                                        <span class="shadow-none  text-info" *ngIf="item.jobStatus==5">
                                                            {{'NOTIFICATION.STATUS.STARTED'| translate}}
                                                        </span>
                                                        <span class="shadow-none  text-info " *ngIf="item.jobStatus==6">
                                                            {{'NOTIFICATION.STATUS.FINISHED'| translate}}
                                                        </span>
                                                        <span class="shadow-none  text-danger"
                                                            *ngIf="item.jobStatus==7">
                                                            {{'NOTIFICATION.STATUS.DECLINED_LAST_MINUTE'| translate}}
                                                        </span>
                                                        <span class="shadow-none  text-danger"
                                                            *ngIf="item.jobStatus==8">
                                                            {{'NOTIFICATION.STATUS.DECLINED_BY_ADMIN'| translate}}
                                                        </span>

                                                        <span class="shadow-none  text-success"
                                                            *ngIf="item.jobStatus==10">
                                                            {{'NOTIFICATION.STATUS.PICKED_UP'| translate}}
                                                        </span>
                                                        <span class="shadow-none  text-danger"
                                                            *ngIf="item.jobStatus==14">
                                                            {{'NOTIFICATION.STATUS.DECLINED_BY_CLIENT'| translate}}
                                                        </span>
                                                        <span class="shadow-none  text-danger"
                                                            *ngIf="item.jobStatus==15">
                                                            {{'NOTIFICATION.STATUS.DRIVER_FAILED'| translate}}
                                                        </span>
                                                         <span class="shadow-none  text-danger"
                                                            *ngIf="item.jobStatus==16">
                                                            Retour définitif                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="greyText ft-14">
                                                            {{'CONCIERGERIE.BUSINESS' |translate}}</span>
                                                        <span class="ft-14">
                                                            {{item.jobRequest.business&&item.jobRequest.business.nomCommercial ? item.jobRequest.business.nomCommercial :  item.jobRequest.passingClientName}}</span>
                                                    </div>
                                                    <div *ngIf="item.jobRequest.service==1">
                                                        <div class="ft-14">
                                                            <span class="greyText ft-14">
                                                                {{'CONCIERGERIE.ADDRESS' |translate}}
                                                            </span> {{item.jobRequest.pickUp.pickUpAddress}}
                                                        </div>
                                                        <div class="ft-14">
                                                            <span class="greyText ft-14">
                                                                {{'CONCIERGERIE.AT' |translate}}
                                                            </span>
                                                            {{item.jobRequest.startDate | date :'M/d/yy HH:mm ' }}
                                                        </div>
                                                        <p class="meta-date">
                                                            {{'NOTIFICATION.START_AT' |translate}}
                                                            {{item.jobRequest.startDate | date :'d/MM/yy HH:mm ' }}</p>

                                                        <p class="meta-date">
                                                            {{'NOTIFICATION.CLIENT' | translate }}
                                                            <span class="text-info">
                                                                {{item.jobRequest.business&&item.jobRequest.business.nomCommercial ? item.jobRequest.business.nomCommercial :  item.jobRequest.passingClientName}}
                                                            </span>
                                                            {{'NOTIFICATION.WANT'| translate}}
                                                            <span *ngIf="item.jobRequest.vehicleType==1">Moto</span>
                                                            <span *ngIf="item.jobRequest.vehicleType==2">TokTok</span>
                                                            <span *ngIf="item.jobRequest.vehicleType==3">Van</span>
                                                            {{'NOTIFICATION.FROM'| translate}}
                                                            <span
                                                                class="text-info">{{item.jobRequest.startDate | date :'HH:mm ' }}</span>
                                                            {{'NOTIFICATION.TO'| translate}}
                                                            <span class="text-info">
                                                                {{item.jobRequest.endDate | date :'HH:mm ' }}</span>
                                                            {{'NOTIFICATION.AT'| translate}} <span class="text-info">
                                                                {{item.jobRequest.startDate | date : 'd/MM/yy HH:mm ' }}</span>
                                                        </p>

                                                    </div>
                                                    <!-- delivery info -->
                                                    <span
                                                        *ngIf="item.jobRequest.service==2 || item.jobRequest.service==4">
                                                        <div class="d-flex " *ngIf="item.jobRequest.pickUp">
                                                            <div class="greyText ft-14 ">
                                                                {{'CONCIERGERIE.FROM' |translate}}
                                                            </div>
                                                            <div class="ml-1">
                                                                {{item?.jobRequest?.pickUp?.pickUpAddress  }}
                                                            </div>
                                                        </div>
                                                        <div class="d-flex"
                                                            *ngIf="item.jobRequest.dropOff.dropOffAddress">
                                                            <div class="greyText ft-14">
                                                                {{'CONCIERGERIE.TO' |translate}}
                                                            </div>
                                                            <div class="ml-1">
                                                                {{item?.jobRequest?.dropOff?.dropOffAddress }}
                                                            </div>
                                                        </div>
                                                        <p class="meta-date">
                                                            {{'NOTIFICATION.CREATED_AT' |translate}}
                                                            {{item.jobRequest.createdAt | date :'d/MM/yy HH:mm ' }}</p>

                                                        <p class="meta-date" *ngIf="item.jobRequest.amount>0">
                                                            {{'NOTIFICATION.CASH_ON_DELIVERY'| translate}} :
                                                            <span class="text-info">
                                                                {{item.jobRequest.amount  }} Dinars
                                                            </span> </p>

                                                        <p class="meta-date" *ngIf="item.jobRequest.service==2">
                                                            {{'NOTIFICATION.CLIENT' | translate }}
                                                            <span class="text-info">
                                                                {{item.jobRequest.business&&item.jobRequest.business.nomCommercial ? item.jobRequest.business.nomCommercial :  item.jobRequest.passingClientName}}
                                                            </span>
                                                            {{'NOTIFICATION.WANT_TO_DELIVER'| translate}}

                                                            <span class="text-info">
                                                                <span *ngIf="item.jobRequest.packageSize==1">
                                                                    {{'LIVRAISON.EXTRA_SMALL' | translate}} </span>
                                                                <span *ngIf="item.jobRequest.packageSize==2">
                                                                    {{'LIVRAISON.SMALL' | translate}} </span>
                                                                <span *ngIf="item.jobRequest.packageSize==3">
                                                                    {{'LIVRAISON.MEDIUM' | translate}} </span>
                                                                <span *ngIf="item.jobRequest.packageSize==4">
                                                                    {{'LIVRAISON.LARGE' | translate}} </span>
                                                                <span *ngIf="item.jobRequest.packageSize==5">
                                                                    {{'LIVRAISON.EXTRA_LARGE' | translate}} </span>
                                                            </span>
                                                        </p>

                                                    </span>

                                                </div>









                                            </div>

                                            <div class="priority-dropdown custom-dropdown-icon my-auto pr-md-5">
                                                <div class="dropdown p-dropdown">
                                                    <div class="shadow-none badge badge-primary"
                                                        *ngIf="item.jobStatus==1">New</div>
                                                    <div class="shadow-none badge badge-warning"
                                                        *ngIf="item.jobStatus==2">Assigned</div>
                                                    <div class="shadow-none badge badge-success"
                                                        *ngIf="item.jobStatus==3">Aceepted</div>
                                                    <div class="shadow-none badge badge-danger"
                                                        *ngIf="item.jobStatus==4">Declined</div>
                                                    <div class="shadow-none badge badge-info" *ngIf="item.jobStatus==5">
                                                        Start</div>
                                                    <div class="shadow-none badge badge" *ngIf="item.jobStatus==6">
                                                        Finished</div>


                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-3">
                                                        <a class="dropdown-item danger" href="javascript:void(0);"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-alert-octagon">
                                                                <polygon
                                                                    points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2">
                                                                </polygon>
                                                                <line x1="12" y1="8" x2="12" y2="12"></line>
                                                                <line x1="12" y1="16" x2="12" y2="16"></line>
                                                            </svg> High</a>
                                                        <a class="dropdown-item warning" href="javascript:void(0);"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-alert-octagon">
                                                                <polygon
                                                                    points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2">
                                                                </polygon>
                                                                <line x1="12" y1="8" x2="12" y2="12"></line>
                                                                <line x1="12" y1="16" x2="12" y2="16"></line>
                                                            </svg> Middle</a>
                                                        <a class="dropdown-item primary" href="javascript:void(0);"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-alert-octagon">
                                                                <polygon
                                                                    points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2">
                                                                </polygon>
                                                                <line x1="12" y1="8" x2="12" y2="12"></line>
                                                                <line x1="12" y1="16" x2="12" y2="16"></line>
                                                            </svg> Low</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="action-dropdown custom-dropdown-icon d-none">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                        id="dropdownMenuLink-4" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-more-vertical">
                                                            <circle cx="12" cy="12" r="1"></circle>
                                                            <circle cx="12" cy="5" r="1"></circle>
                                                            <circle cx="12" cy="19" r="1"></circle>
                                                        </svg>
                                                    </a>

                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-4">
                                                        <a class="edit dropdown-item"
                                                            href="javascript:void(0);">Edit</a>
                                                        <a class="important dropdown-item"
                                                            href="javascript:void(0);">Important</a>
                                                        <a class="dropdown-item delete"
                                                            href="javascript:void(0);">Delete</a>
                                                        <a class="dropdown-item permanent-delete"
                                                            href="javascript:void(0);">Permanent Delete</a>
                                                        <a class="dropdown-item revive"
                                                            href="javascript:void(0);">Revive
                                                            Task</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>







                                </div>


                            </div>

                        </div>
                    </div>

                </div>





            </div>

            <!-- Modal -->
            <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-x close" data-dismiss="modal">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                            <div class="compose-box">
                                <div class="compose-content" id="addTaskModalTitle">
                                    <h5 class="">Add Task</h5>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="d-flex mail-to mb-4">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-edit-3 flaticon-notes">
                                                        <path d="M12 20h9"></path>
                                                        <path
                                                            d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z">
                                                        </path>
                                                    </svg>
                                                    <div class="w-100">
                                                        <input id="task" type="text" placeholder="Task"
                                                            class="form-control" name="task">
                                                        <span class="validation-text"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex  mail-subject mb-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-file-text flaticon-menu-list">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z">
                                                </path>
                                                <polyline points="14 2 14 8 20 8"></polyline>
                                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                                <polyline points="10 9 9 9 8 9"></polyline>
                                            </svg>
                                            <div class="w-100">
                                                <div id="taskdescription" class=""></div>
                                                <span class="validation-text"></span>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
                            <button class="btn add-tsk">Add Task</button>
                            <button class="btn edit-tsk">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>