<div class="layout-px-spacing">
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="col-lg-12">
            <div class="widget-content searchable-container list">

                <div class="row">
                    <div class="col filtered-list-search layout-spacing align-self-center">
                        <div class="form-inline my-2 my-lg-0 d-flex">


                            <div class="d-flex" *ngIf="!selectedJobType">

                                <div class="">
                                    <dp-date-picker (onSelect)="getAllTherequests($event)" [(ngModel)]="filterStartDate"
                                        placeholder="Date de début" theme="dp-material" [config]="datePickerConfig">
                                    </dp-date-picker>
                                </div>
                                <div class="deleteDateBtn" [hidden]="!filterStartDate"
                                    (click)="deleteFilterStartDate()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-x-circle table-cancel">
                                        <line x1="15" y1="9" x2="9" y2="15"></line>
                                        <line x1="9" y1="9" x2="15" y2="15"></line>
                                    </svg>

                                </div>

                                <div class="ml-2">
                                    <dp-date-picker (onSelect)="getAllTherequests($event)" [(ngModel)]="filterEndDate"
                                        placeholder="Date de Fin" theme="dp-material" [config]="datePickerConfig">
                                    </dp-date-picker>
                                </div>
                                <div class="deleteDateBtn" [hidden]="!filterEndDate" (click)="deleteFilterEndDate()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-x-circle table-cancel">
                                        <line x1="15" y1="9" x2="9" y2="15"></line>
                                        <line x1="9" y1="9" x2="15" y2="15"></line>
                                    </svg>

                                </div>


                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3 col-md-2 px-0">
                                <ng-select (change)="activeStatus($event)" placeholder="select a status"
                                    [items]="status" bindLabel="name" bindValue="value" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search" translate>{{item.name}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3 col px-0">
                                <ng-select (change)="selectClient($event)" placeholder="select client" [items]="clients"
                                    bindLabel="nomCommercial" bindValue="_id" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item.nomCommercial}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3 col px-0">
                                <ng-select (change)="selectDriver($event)" placeholder="select driver" [items]="drivers"
                                    bindLabel="name" bindValue="_id" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3  px-0" *ngIf="selectedJobType"
                                [ngClass]="{'col': !selectedJobType, 'col-2':selectedJobType}">
                                <ng-select (change)="selectCity($event)" placeholder="City" [items]="gouvernorats"
                                    class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3  px-0" *ngIf="subDivisions&&selectedJobType"
                                [ngClass]="{'col': !selectedJobType, 'col-2':selectedJobType}">
                                <ng-select (change)="selectSubDivision($event)" placeholder="Zone"
                                    [items]="subDivisions" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item}}</h6>
                                    </ng-template>
                                </ng-select>

                            </div>



                        </div>
                    </div>


                </div>
                <div class="row mb-5">

                    <div class="col-3">
                        <input type="text" class="form-control product-search" id="input-search" (keyup)="onKey($event)"
                            placeholder="Num bordereau">
                    </div>


                    <div class="col text-right">
                        <button (click)="openDriverPdfModal($event)" class="btn btn-primary mr-lg-3">Générer la fiche de
                            route de chauffeur</button>
                        <button (click)="openPickUpPdfModal($event)" class="btn btn-primary mr-lg-3">Générer le PDF du
                            PickUp</button>
                        <button (click)="groupAssign($event)" class="btn btn-primary mr-lg-3">Assigner en
                            groupe</button>

                    </div>
                </div>
                <div class="row mt-3 mb-5 ">
                    <div class="col">
                        <div *ngIf="total&&!errorPMsg" class="alert alert-success" role="alert">
                            Nombre de pickup trouvées : {{total}} </div>
                        <div *ngIf="errorPMsg" class="alert alert-warning" role="alert">
                            {{errorPMsg}}
                        </div>
                    </div>
                </div>

                <div id="tableDropdown" class="col-12 px-0">
                    <div class="statbox widget box box-shadow">

                        <div class="widget-content widget-content-area">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-4">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" (click)="selectAll($event)"
                                                    [(ngModel)]="allSelected">
                                            </th>
                                            <th class="text-center"> N&deg;</th>


                                            <th>Client</th>
                                            <th>{{'CONCIERGERIE.ADDRESS' | translate }}</th>

                                            <th>
                                                {{'CONCIERGERIE.FROM' | translate }}
                                            </th>
                                            <th>
                                                {{'CONCIERGERIE.TO' | translate }}
                                            </th>
                                            <th class="text-center">{{'CONCIERGERIE.DRIVER' | translate }}</th>

                                            <th class="text-center">{{'CONCIERGERIE.STATUS' | translate }}</th>

                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i = index;let item of requests  | paginate : {itemsPerPage : sharedService.itemsPerPage,
                                            currentPage: p,
                                           totalItems: total }">

                                            <td class="text-center">
                                                <input type="checkbox" (click)="selectOne($event,i)"
                                                    [(ngModel)]="checkSelect[i]">
                                            </td>
                                            <td class="text-center">
                                                <span class="font-weight-bold">
                                                    {{item?.nid}}
                                                </span> <br> <br>
                                                Date d'ajout <br>
                                                {{item?.createdAt | date : "M/d/yyyy h:mm a"}}

                                            </td>
                                            <td class="text-center">
                                                <p class="usr-email-addr" *ngIf="!item?.passingClientName">
                                                    {{ item?.business?.nomCommercial}}
                                                </p>
                                                <p class="usr-email-addr" *ngIf="item.passingClientName">
                                                    {{item?.passingClientName}}</p>
                                                <p class="usr-email-addr">{{item?.business?.tel}}</p>
                                                <p class="usr-email-addr"
                                                    *ngIf="item?.createdBy?.tel!=item?.business?.tel">
                                                    {{item?.createdBy?.tel}}
                                                </p>

                                            </td>
                                            <td class="text-center">
                                                {{item?.pickUp?.pickUpAddress}}

                                            </td>

                                            <td class="text-center">
                                                {{item?.startDate| date:'dd MMM yyyy  H:mm  '}}

                                            </td>
                                            <td class="text-center">
                                                {{item?.endDate| date:'dd MMM yyyy H:mm '}}
                                            </td>
                                            <td class="text-center">
                                                {{item?.driver?.name}}
                                            </td>


                                            <td class="text-center">
                                                <app-jobs-badge-status
                                                 [status]="item.status" [item]="item">
                                                </app-jobs-badge-status>
                                            </td>


                                            <td class="text-center">

                                                <div class="dropdown custom-dropdown">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                        id="dropdownMenuLink1" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-more-horizontal">
                                                            <circle cx="12" cy="12" r="1"></circle>
                                                            <circle cx="19" cy="12" r="1"></circle>
                                                            <circle cx="5" cy="12" r="1"></circle>
                                                        </svg>
                                                    </a>

                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">


                                                        <button class="btn btn-info btn-block  ft-12 py-1"
                                                            (click)="openRequestInModal(item)"
                                                            *ngIf="(item.status==1&&!item.pickUpJob) || (item.status==1&& item.pickUpJob && item.pickUpJob.status==6 )  ">
                                                            assign
                                                        </button>

                                                        <button class="btn btn-info btn-block ft-12 py-1 "
                                                            (click)="updateDriver(item)" *ngIf="item.status==2">
                                                            update
                                                        </button>
                                                        <div class="mt-2"
                                                            *ngIf="item.status!=1&&item.status!=6&&item.status!=11&&item.status!=12&&item.status!=13">
                                                            <button (click)="resetJob(item)"
                                                                class="btn btn-danger btn-block ft-12 py-1">reset</button>



                                                        </div>
                                                        <button class="btn btn-primary btn-block py-1 px-0 ft-12 mt-2"
                                                            (click)="openPackingSlip(item)">
                                                            {{'SIDENAV.PACKING_SLIP' | translate}}
                                                        </button>
                                                        <button class="btn btn-warning btn-block py-1 px-0 ft-12 mt-2"
                                                            (click)="edit(item._id)" *ngIf="item.status!=6">
                                                            Edit
                                                        </button>
                                                        <button class="btn btn-outline-info btn-block py-1 mt-2"
                                                            (click)="openJobHistory(item)">
                                                            {{'LIVRAISON.HISTORY' | translate}}
                                                        </button>


                                                    </div>
                                                </div>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col text-center">

                        <pagination-controls autoHide="true" (pageChange)="changePage($event)"></pagination-controls>
                    </div>
                    <div class="col-1 px-0 mr-2">
                        <select (change)="p=1;getAllTherequests();sharedService.updateNumberOfItemPerPage();"
                            [(ngModel)]="sharedService.itemsPerPage" class="form-control">
                            <option value=10>10</option>
                            <option value=25 selected="selected">25</option>
                            <option value=50>50</option>
                            <option value=100>100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal edit -->
<div class="modal fade" id="assignDriver4Delivery" tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row ">
                    <div class="col text-center">

                        <h5>
                            {{ selectedJob?.pickUp?.pickUpAddress}}
                            {{ selectedJob?.dropOff?.dropOffAddress}}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <div>
                            <agm-map style="    height: 250px;
                          width: 100%;
                         
                          background-color: rgb(229, 227, 223);" [latitude]="latitude" [longitude]="longitude"
                                [scrollwheel]="false" [zoom]="zoom">


                                <agm-marker style="height: 14px!important;" [latitude]="latitude"
                                    [longitude]="longitude" [iconUrl]="iconFrom
                                  ">

                                </agm-marker>



                            </agm-map>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mb-2">
                    <div class="col">
                        <ng-select required [(ngModel)]="newselectedDriver" placeholder="select a driver"
                            [items]="drivers" bindLabel="name">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <div class="d-flex justify-content-between my-auto">
                                    <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}</h6>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">

                        <div *ngIf="!newselectedDriver&& submitted" class="text-danger">
                            Please Select a captain
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">


                <button class="btn btn-secondary" id="closeModal" data-dismiss="modal"> <i
                        class="flaticon-delete-1"></i>
                    Discard</button>

                <button id="btn-add" (click)="assignDriverToJobs()" class="btn btn-primary">
                    Save</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="bonPickup" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <pickup-packaging-html-to-pdf *ngIf="dr.length>=1" [groupIds]="ids1" [deliveryRequests]="dr">
                </pickup-packaging-html-to-pdf>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="retourModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <retour-packaging-html-to-pdf *ngIf="retour.length>=1" [groupIds]="ids2" [deliveryRequests]="retour">
                </retour-packaging-html-to-pdf>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- update driver Modal -->
<div class="modal fade" id="updateDriver" tabindex="-1" aria-labelledby="updateDriverLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignDriverLabel">update a driver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-3 mb-2">
                    <div class="col">
                        <ng-select [(ngModel)]="updateDrivermInModal.driver" placeholder="select a driver"
                            [items]="drivers" bindLabel="name">


                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <div class="d-flex justify-content-between my-auto">
                                    <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}</h6>

                                </div>
                            </ng-template>


                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveUpdateJobRequest()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade  bd-example-modal-lg" id="driverModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <driver-packaging-html-to-pdf *ngIf="driver.length>=1" [jobsType]="jobsType"
                    [deliveryRequests]="driver">
                </driver-packaging-html-to-pdf>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="bordereau" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-packaging-html-to-pdf *ngIf="selectedPackingSlip" [nid]="selectedPackingSlip">
                </app-packaging-html-to-pdf>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- group assign -->
<div class="modal fade" id="assignDriver4Deliveries" tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row ">
                    <div class="col text-center">

                        <h5>
                            Assigner en groupe
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mb-2">
                    <div class="col">
                        <ng-select required [(ngModel)]="newselectedDriver" placeholder="Choisissez un chauffeur"
                            [items]="drivers" bindLabel="name">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <div class="d-flex justify-content-between my-auto">
                                    <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}</h6>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">

                        <div *ngIf="!newselectedDriver&& submitted" class="text-danger">
                            Choisissez un chauffeur
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">


                <button class="btn btn-secondary" id="closeModal" data-dismiss="modal"> <i
                        class="flaticon-delete-1"></i>
                    Annuler</button>

                <button id="btn-add" [disabled]="updateDriverSubmitted" (click)="groupAssignToDriver()"
                    class="btn btn-primary">
                    Confirmer</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal history -->
<div class="modal fade  " id="history" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{'LIVRAISON.TITLE' | translate}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <app-job-request-history [job]="selectJobInHistoryModal"></app-job-request-history>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>