<div class="layout-px-spacing">


    <div class="">
        <div class="row">
            <div class="col-md-4 pr-md-0 ">
                <form [formGroup]="conciergerieForm">
                    <div class=" leftpart px-3 pt-3">
                        <div class="card ">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col">
                                        <h4> Conciergerie </h4>
                                    </div>
                                </div>


                                <div class="row mt-2" *ngIf="!showNewPickUpInputField">
                                    <div class="col-12">
                                        <select class="form-control "
                                            [ngClass]="{ 'is-invalid': submitted && f.pickUp.controls.pickUpAddress.errors }"
                                            (change)="showNewPickUpInput($event)">
                                            <option selected="selected" disabled value="">
                                                {{'CONCIERGERIE.SELECT_ADDRESS' | translate}}
                                            </option>

                                            <option value="1">
                                                {{  'CONCIERGERIE.ADD_PICKUP'|translate}}
                                            </option>
                                            <option *ngFor="let item of oldPickUpPoints;let i=index;" [value]="i+2">
                                                {{item.name ? item.name :''}} | {{item?.pickUpAddress}}
                                            </option>
                                        </select>

                                    </div>
                                </div>

                                <div formGroupName="pickUp">
                                    <div class="row mt-2" *ngIf="showNewPickUpInputField">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input (focusout)="openPickUpNameModal($event)" [ngClass]="{ 'is-invalid': submitted && (f.pickUp.controls.pickUpAddress.errors||
                                                f.pickUp.controls.longitude.errors
                                                ||f.pickUp.controls.latitude.errors)  }"
                                                    formControlName="pickUpAddress" class="form-control"
                                                    matGoogleMapsAutocomplete country="tn"
                                                    (onAutocompleteSelected)="onPickUpAutocompleteSelected($event)"
                                                    (onLocationSelected)="onPickUpLocationSelected($event)"
                                                    [value]=" f.pickUp.controls.pickUpAddress.value"
                                                    (keyup)="pickUpInputChanged($event)">
                                            </div>
                                        </div>
                                    </div>
                                    <!--        <div class="row mt-2">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input
                                                    [ngClass]="{ 'is-invalid': submitted &&  f.pickUp.controls.name.errors}"
                                                    formControlName="name" class="form-control"
                                                    placeholder="{{  'CONCIERGERIE.PICKUP_NAME'|translate}}">
                                            </div>
                                        </div>
                                    </div>-->



                                </div>
                                <small class="text-danger" *ngIf="submitted&&f.pickUp.controls.pickUpAddress.hasError('required')">
                                    Ce champ est obligatoire.
                                </small>
           
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input [ngClass]="{ 'is-invalid': submitted &&  f.passingClientName.errors}"
                                                formControlName="passingClientName" class="form-control"
                                                placeholder="{{  'CONCIERGERIE.CLIENT_Name'|translate}}">
                                                <small class="text-danger" *ngIf="submitted&&f.passingClientName.hasError('required')">
                                                    Ce champ est obligatoire.
                                                </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col text-capitalize">
                                        {{ 'CONCIERGERIE.CUSTOM_RECURRENCE' | translate }}
                                    </div>
                                    <div class="col-3 text-right">
                                        <label class="switch s-icons s-outline s-outline-info mr-2">
                                            <input formControlName="customRecurrence" (change)="customRecChanged()"
                                                type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="row mt-2" *ngIf="!f.customRecurrence.value">



                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <label for="degree2">{{  'GENERAL.DATE'|translate}}</label>

                                            </div>

                                            <div>
                                                <dp-date-picker
                                                    [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
                                                    formControlName="startDate" theme="dp-material"
                                                    [config]="datePickerConfig">
                                                </dp-date-picker>
                                                <small class="text-danger" *ngIf="submitted&&f.startDate.hasError('required')">
                                                    Ce champ est obligatoire.
                                                </small>
                                            </div>





                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <label for="degree2">{{  'GENERAL.TIME'|translate}}</label>
                                            </div>

                                            <div class="">
                                                <input formControlName="time"
                                                    [ngClass]="{ 'is-invalid': submitted && f.time.errors }"
                                                    [format]="24" class="form-control" [ngxTimepicker]="picker">
                                                <ngx-material-timepicker [min]="today" #picker>
                                                </ngx-material-timepicker>
                                                <small class="text-danger" *ngIf="submitted&&f.time.hasError('required')">
                                                    Ce champ est obligatoire.
                                                </small>
                                            </div>






                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <div class="form-group">
                                            <label for="degree2">{{  'GENERAL.DURATION'|translate}}</label>

                                            <select formControlName="duration" class="form-control mb-4">

                                                <option [value]="item" *ngFor="let item of duration">
                                                    {{item }} {{'GENERAL.HOUR'|translate}}{{ item > 1 ? 's':''}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>


                                </div>

                                <div *ngIf="f.customRecurrence.value&&customRecurrenceSubmitted&&recurrentDays.length">
                                    <div class="row mt-2">
                                        <div class="col">
                                            <h6>
                                                {{'CONCIERGERIE.FROM' | translate}} : {{crf.startDate.value}}
                                            </h6>
                                        </div>
                                        <div class="col">
                                            <h6>
                                                {{'CONCIERGERIE.TO' | translate}} : {{crf.endDate.value}}
                                            </h6>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <h6>
                                                {{'CONCIERGERIE.AT' | translate}} : {{crf.time.value}}
                                            </h6>
                                        </div>
                                        <div class="col">
                                            <h6>
                                                {{'CONCIERGERIE.FOR' | translate}} : {{crf.duration.value}} Hours
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <h6>
                                                Repeat every : {{crf.recurrence.value / 7}} week(s)
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <h6>
                                                {{'CONCIERGERIE.TOTAL_OF' | translate}} : {{recurrentDays.length}}
                                                conciergerie service
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-5">
                                        <div class="col text-right">
                                            <button class="btn btn-primary" (click)="customRecChanged()">
                                                {{'GENERAL.EDIT'| translate}}

                                            </button>
                                        </div>
                                    </div>


                                </div>








                            </div>



                        </div>
                        <div class="card mt-2 mb-5" *ngIf="0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h4>{{  'CONCIERGERIE.SELECT_VEHICLE'| translate }}</h4>
                                    </div>
                                </div>



                                <div class="row mt-2">

                                    <div class="col-md-4 mt-md-0 mt-2">
                                        <div class="box" (click)="selectVehicle(0)"
                                            [ngClass]="{'boxActive': vehicle[0]}">
                                            Moto
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-md-0 mt-2">
                                        <div class="box" (click)="selectVehicle(1)"
                                            [ngClass]="{'boxActive': vehicle[1]}">
                                            Tok Tok
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-md-0 mt-2">
                                        <div class="box" (click)="selectVehicle(2)"
                                            [ngClass]="{'boxActive': vehicle[2]}">
                                            Van
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col requestFixedRow">
                                <button [disabled]="disableSendBtn" type="submit" class="btn btn-primary"
                                    (click)="sendTheRequest()">
                                    <div *ngIf="disableSendBtn"
                                        class="spinner-border text-white mr-2 align-self-center loader-sm "></div>

                                    {{'CONCIERGERIE.SEND_REQUEST' | translate}}
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md px-0">
                <div>
                    <div>
                        <agm-map style="    height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        background-color: rgb(229, 227, 223);" [latitude]="latitude" [longitude]="longitude"
                            [scrollwheel]="false" [zoom]="zoom">
                            <agm-marker style="height: 14px!important;" [latitude]="f.pickUp.controls.latitude.value"
                                [longitude]="f.pickUp.controls.longitude.value" [iconUrl]="iconFrom
                                ">
                            </agm-marker>
                        </agm-map>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" [formGroup]="CustomRecurrenceForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col text-center">
                            <h4>
                                {{ 'CONCIERGERIE.CUSTOM_RECURRENCE' | translate }}
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <h5>
                                {{ 'CONCIERGERIE.RECURRENCE_MODAL.START_DAY' | translate }}


                            </h5>
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col-12">

                            <dp-date-picker
                                [ngClass]="{ 'is-invalid': customRecurrenceSubmitted && crf.startDate.errors }"
                                formControlName="startDate" theme="dp-material" [config]="datePickerConfig">
                            </dp-date-picker>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <h5> {{ 'GENERAL.TIME' | translate}}</h5>
                        </div>
                    </div>
                    <div class="">
                        <input formControlName="time"
                            [ngClass]="{ 'is-invalid': customRecurrenceSubmitted && crf.time.errors }" [format]="24"
                            class="form-control" [ngxTimepicker]="pickerInsideModal">
                        <ngx-material-timepicker [min]="today" #pickerInsideModal>
                        </ngx-material-timepicker>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <h5> {{  'GENERAL.DURATION'|translate}}</h5>
                        </div>
                    </div>
                    <div class="">
                        <select formControlName="duration" class="form-control  ">
                            <option [value]="item" *ngFor="let item of duration">
                                {{item }} {{'GENERAL.HOUR'|translate}}{{ item > 1 ? 's':''}}
                            </option>
                        </select>
                    </div>


                    <div class="row mt-2">
                        <div class="col">
                            <h5>
                                {{ 'CONCIERGERIE.RECURRENCE_MODAL.REPEAT_EVERY' | translate }}

                            </h5>
                        </div>
                        <div class="col-12">
                            <select class="form-control " formControlName="recurrence">


                                <option [value]="item.value" *ngFor="let item of repeatEvery">
                                    {{item.name}}
                                </option>

                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <h5>
                                {{ 'CONCIERGERIE.RECURRENCE_MODAL.REPEAT_ON' | translate }}


                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex">
                            <div (click)="activeDay(item)" *ngFor="let item of modalDays" class="day"
                                [ngClass]="{'dayActive': item.active}">
                                {{item.name}}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <h5>
                                {{ 'CONCIERGERIE.RECURRENCE_MODAL.END_DAY' | translate }}


                            </h5>
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col-12">

                            <dp-date-picker
                                [ngClass]="{ 'is-invalid': customRecurrenceSubmitted && crf.endDate.errors }"
                                formControlName="endDate" theme="dp-material" [config]="datePickerConfig">
                            </dp-date-picker>

                        </div>
                    </div>

                    <div class="row mt-2" *ngIf="customRecurrenceSubmitted&&!recurrentDays.length">
                        <div class="col text-danger">
                            No days found in this interval for those specific days of the week
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        (click)="closeAndResetCustomRecurrenceForm()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveTheCostumRecurrence()">Save
                        changes</button>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="pickUpNameModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{'LIVRAISON.NEW_ADDRESS_NAME' | translate}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        {{'LIVRAISON.NEW_ADDRESS_TEXT' | translate}}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input [(ngModel)]="pname" class="form-control"
                                placeholder="{{'LIVRAISON.PICKUP_NAME' | translate}}">
                        </div>
                        <p *ngIf="pnameError" class="text-danger"> {{'LIVRAISON.PICKUP_NAME_ERROR' | translate}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" (click)="savePickUpName($event)" class="btn btn-primary">
                    {{'LIVRAISON.SAVE' | translate}}
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>