<div class="layout-px-spacing">
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="col-lg-12">
            <div class="widget-content searchable-container list">

                <div class="row">
                    <div class="col-md-8 filtered-list-search layout-spacing align-self-center">
                        <!-- <form class="form-inline my-2 my-lg-0">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-search">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                                <input type="text" class="form-control product-search" id="input-search"
                                    placeholder="Search by Client name...">
                            </div>
                        </form> -->
                        <div class="form-inline my-2 my-lg-0 d-flex">


                            <div class="d-flex">

                                <div class="">
                                    <dp-date-picker (onSelect)="getAllTherequests($event)" [(ngModel)]="filterStartDate"
                                        placeholder="Date de début" theme="dp-material" [config]="datePickerConfig">
                                    </dp-date-picker>
                                </div>
                                <div class="deleteDateBtn" [hidden]="!filterStartDate"
                                    (click)="deleteFilterStartDate()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-x-circle table-cancel">
                                        <line x1="15" y1="9" x2="9" y2="15"></line>
                                        <line x1="9" y1="9" x2="15" y2="15"></line>
                                    </svg>

                                </div>

                                <div class="ml-2">
                                    <dp-date-picker (onSelect)="getAllTherequests($event)" [(ngModel)]="filterEndDate"
                                        placeholder="Date de Fin" theme="dp-material" [config]="datePickerConfig">
                                    </dp-date-picker>
                                </div>
                                <div class="deleteDateBtn" [hidden]="!filterEndDate" (click)="deleteFilterEndDate()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-x-circle table-cancel">
                                        <line x1="15" y1="9" x2="9" y2="15"></line>
                                        <line x1="9" y1="9" x2="15" y2="15"></line>
                                    </svg>

                                </div>


                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3 col px-0">
                                <ng-select (change)="activeStatus($event)" placeholder="select a status"
                                    [items]="status" bindLabel="name" bindValue="value" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search" translate>{{item.name}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>


                            <div class="ml-md-2 mt-md-0 mt-3  col-2 px-0">
                                <ng-select (change)="selectCity($event)" placeholder="City" [items]="cities"
                                    class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>



                        </div>


                    </div>

                    <div class="col-md-3 text-right">



                        <a [routerLink]="[ '/business/express/add' ]" class="btn btn-info mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> {{'LIVRAISON.TITLE' | translate}} Express
                        </a>

                    </div>
                </div>

                <div class="searchable-items list">
                    <div class="items items-header-section">
                        <div class="item-content ">
                            <div class="col">
                                <h4>{{'CONCIERGERIE.CREATED_BY' | translate }} </h4>
                            </div>

                            <div class="user-phone col">
                                <h4>{{'CONCIERGERIE.FROM' | translate }}</h4>
                            </div>
                            <div class="user-phone col">
                                <h4>{{'CONCIERGERIE.TO' | translate }}</h4>
                            </div>
                            <div class="user-phone col">
                                <h4> Client</h4>
                            </div>
                            <div class="user-phone col">
                                <h4> Tel</h4>
                            </div>
                            <div class="user-phone col">
                                <h4> {{'CONCIERGERIE.DRIVER' | translate }}</h4>
                            </div>

                            <div class="user-phone col">
                                <h4>{{'CONCIERGERIE.STATUS' | translate }}</h4>
                            </div>


                        </div>
                    </div>

                    <div class="items" *ngFor="let item of requests  | paginate : { itemsPerPage: 10,
                         currentPage: p,
                        totalItems: total }">
                        <div class="item-content">
                            <div class="user-profile col">

                                <div class="user-meta-info">
                                    <p class="usr-location my-1 ml-2">{{item?.createdBy?.name}}</p>

                                </div>
                            </div>

                            <div class="user-location col">

                                <p class="usr-location ">{{item?.pickUp?.pickUpAddress}}</p>
                            </div>
                            <div class="user-phone col">
                                <p class="usr-location ">
                                    {{item.dropOff.dropOffAddress ? item.dropOff.dropOffAddress : '-'  }}</p>
                            </div>

                            <div class="user-phone col">
                                <p class=" ">{{item?.dropOff?.deliveredTo?.name}}</p>
                            </div>
                            <div class="user-phone col">
                                <p class=" ">{{item?.dropOff?.deliveredTo?.phone}}</p>
                            </div>
                            <div class="user-phone col">
                                <p class=" ">{{item?.driver?.name}}</p>
                            </div>

                            <div class="user-phone col font-wweight-bold">
                                <!--
                                     // 1 pending  
                                     // 2 assigned  
                                     // 3 accepted by driver  
                                     // 4 declined by driver 
                                     // 5 start the job 
                                     // 6 finish the job  
                                    -->
                                <span class="  text-primary text-center" *ngIf="item.status==1">
                                    {{'NOTIFICATION.STATUS.NEW'| translate}}

                                </span>
                                <span class="  text-warning" *ngIf="item.status==2">
                                    {{'NOTIFICATION.STATUS.ASSIGNED'| translate}}
                                </span>
                                <span class="   text-success" *ngIf="item.status==3">
                                    {{'NOTIFICATION.STATUS.ACCEPTED'| translate}}
                                </span>
                                <span class="   text-danger" *ngIf="item.status==4">
                                    {{'NOTIFICATION.STATUS.DECLINED'| translate}}
                                </span>
                                <span class="   text-info" *ngIf="item.status==5">
                                    {{'NOTIFICATION.STATUS.STARTED'| translate}}
                                </span>
                                <span class="   text-info " *ngIf="item.status==6">
                                    {{'NOTIFICATION.STATUS.FINISHED'| translate}}
                                </span>
                                <span class="   text-danger" *ngIf="item.status==7">
                                    {{'NOTIFICATION.STATUS.DECLINED_LAST_MINUTE'| translate}}
                                </span>
                                <span class="   text-danger" *ngIf="item.status==8">
                                    {{'NOTIFICATION.STATUS.DECLINED_BY_ADMIN'| translate}}
                                </span>
                                <span class="   text-danger" *ngIf="item.status==9">
                                    {{'NOTIFICATION.STATUS.UNSUCCESSFUL'| translate}}
                                </span>
                                <span class="shadow-none  text-success" *ngIf="item.status==10">
                                    {{'NOTIFICATION.STATUS.PICKED_UP'| translate}}
                                </span> <span class="shadow-none  text-danger" *ngIf="item.status==14">
                                    {{'NOTIFICATION.STATUS.DECLINED_BY_CLIENT'| translate}}
                                </span>
                                <span class="shadow-none  text-danger" *ngIf="item.status==15">
                                    {{'NOTIFICATION.STATUS.DRIVER_FAILED'| translate}}
                                </span>
                                <span class="shadow-none  text-danger" *ngIf="item.status==16">
                                    Retour définitif
                                </span>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row my-4">
                    <div class="col text-center">
                        <pagination-controls autoHide="true" (pageChange)="changePage($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>