<div class="layout-px-spacing">
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="col-lg-12">
            <div class="widget-content searchable-container list">

                <div class="row">
                    <div
                        class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
                        <!-- <form class="form-inline my-2 my-lg-0">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-search">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                                <input type="text" class="form-control product-search" id="input-search"
                                    placeholder="Search by Client name...">
                            </div>
                        </form> -->
                    </div>

                    <div
                        class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-right text-center layout-spacing align-self-center">


                        <a [routerLink]="[ '/business/conciergerie/add' ]" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> Conciergerie
                        </a>

                    </div>
                </div>

                <div class="searchable-items list">
                    <div class="items items-header-section">
                        <div class="item-content ">
                            <div class="col">
                                <h4>{{'CONCIERGERIE.CREATED_BY' | translate }} </h4>
                            </div>
                            <div class="user-email col">
                                <h4>{{'CONCIERGERIE.ADDRESS' | translate }}</h4>
                            </div>

                            <div class="user-phone col">
                                <h4>{{'CONCIERGERIE.FROM' | translate }}</h4>
                            </div>
                            <div class="user-phone col">
                                <h4>{{'CONCIERGERIE.TO' | translate }}</h4>
                            </div>
                            <div class="user-phone col">
                                <h4> {{'CONCIERGERIE.DRIVER' | translate }}</h4>
                            </div>

                            <div class="user-phone col">
                                <h4>{{'CONCIERGERIE.STATUS' | translate }}</h4>
                            </div>


                        </div>
                    </div>

                    <div class="items" *ngFor="let item of requests  | paginate : { itemsPerPage: 10,
                         currentPage: p,
                        totalItems: total }">
                        <div class="item-content">
                            <div class="user-profile col">

                                <div class="user-meta-info">
                                    <p class="usr-location my-1 ml-2">{{item?.createdBy?.name}}</p>

                                </div>
                            </div>

                            <div class="user-location col">

                                <p class="usr-location ">{{item?.pickUp?.pickUpAddress}}</p>
                            </div>
                            <div class="user-phone col">
                                <p class=" ">{{item?.startDate| date:'dd MMM yyyy  hh:mm a '}}</p>
                            </div>
                            <div class="user-phone col">
                                <p class=" ">{{item?.endDate| date:'dd MMM yyyy  hh:mm a'}}</p>
                            </div>
                            <div class="user-phone col">
                                <p class=" ">{{item?.driver?.name}}</p>
                            </div>

                            <div class="user-phone col">
                                <!--
                                     // 1 pending  
                                     // 2 assigned  
                                     // 3 accepted by driver  
                                     // 4 declined by driver 
                                     // 5 start the job 
                                     // 6 finish the job  
                                    -->
                                <div class="shadow-none badge badge-primary" *ngIf="item.status==1">
                                    {{'NOTIFICATION.STATUS.NEW'| translate}}
                                </div>
                                <div class="shadow-none badge badge-warning" *ngIf="item.status==2">
                                    {{'NOTIFICATION.STATUS.ASSIGNED'| translate}}
                                </div>
                                <div class="shadow-none badge badge-success" *ngIf="item.status==3">
                                    {{'NOTIFICATION.STATUS.ACCEPTED'| translate}}
                                </div>
                                <!-- <div class="shadow-none badge badge-danger" *ngIf="item.status==4">
                                    {{'NOTIFICATION.STATUS.DECLINED'| translate}}
                                </div> -->
                                <div class="shadow-none badge badge-info" *ngIf="item.status==5">
                                    {{'NOTIFICATION.STATUS.STARTED'| translate}}
                                </div>
                                <div class="shadow-none badge badge" *ngIf="item.status==6">
                                    {{'NOTIFICATION.STATUS.FINISHED'| translate}}
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==7">
                                    {{'NOTIFICATION.STATUS.DECLINED_LAST_MINUTE'| translate}}
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==8">
                                    {{'NOTIFICATION.STATUS.DECLINED_BY_ADMIN'| translate}}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row my-4">
                    <div class="col text-center">
                        <pagination-controls autoHide="true" (pageChange)="changePage($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>