<div class="container-fluid  bgStyle">


    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1><b>Bienvenue!</b></h1>
            <h5 >
                <b>Veuillez indiquer votre statut</b>
            </h5>

        </div>
    </div>


    <div class="row mt-5">
        <div class="col-lg-6 mx-auto">
            <div class="row ">
                <div class="col-6 d-md-block mx-auto">
                    <div class="card mx-md-2 text-center login-cards" [routerLink]="[ '/auth/login/admin' ]">
                        <div class="card-body login-body-cards text-center py-5">
                            <a [routerLink]="[ '/auth/login/admin' ]">
                                <img class="icon" src="../../../../assets/img/icons/admin.png" alt="Card image cap">
                                <h3 class="cardTitle mt-4">Admin</h3>
                            </a>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>

</div>
