<div class="layout-px-spacing">
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="col-lg-12">
            <div class="widget-content searchable-container list">

                <div class="row">
                    <div class="col filtered-list-search layout-spacing align-self-center">
                        <div class="form-inline my-2 my-lg-0 d-flex">


                            <div class="d-flex" *ngIf="!selectedJobType">

                                <div class="">
                                    <dp-date-picker (onSelect)="getAllTherequests($event)" [(ngModel)]="filterStartDate"
                                        placeholder="Date de début" theme="dp-material" [config]="datePickerConfig">
                                    </dp-date-picker>
                                </div>
                                <div class="deleteDateBtn" [hidden]="!filterStartDate"
                                    (click)="deleteFilterStartDate()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-x-circle table-cancel">
                                        <line x1="15" y1="9" x2="9" y2="15"></line>
                                        <line x1="9" y1="9" x2="15" y2="15"></line>
                                    </svg>

                                </div>

                                <div class="ml-2">
                                    <dp-date-picker (onSelect)="getAllTherequests($event)" [(ngModel)]="filterEndDate"
                                        placeholder="Date de Fin" theme="dp-material" [config]="datePickerConfig">
                                    </dp-date-picker>
                                </div>
                                <div class="deleteDateBtn" [hidden]="!filterEndDate" (click)="deleteFilterEndDate()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-x-circle table-cancel">
                                        <line x1="15" y1="9" x2="9" y2="15"></line>
                                        <line x1="9" y1="9" x2="15" y2="15"></line>
                                    </svg>

                                </div>


                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3 col-md-2 px-0">
                                <ng-select (change)="activeStatus($event)" placeholder="select a status"
                                    [items]="status" bindLabel="name" bindValue="value" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search" translate>{{item.name}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3 col px-0">
                                <ng-select (change)="selectClient($event)" placeholder="select client" [items]="clients"
                                    bindLabel="nomCommercial" bindValue="_id" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item.nomCommercial}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3 col px-0">
                                <ng-select (change)="selectDriver($event)" placeholder="select driver" [items]="drivers"
                                    bindLabel="name" bindValue="_id" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3  px-0" *ngIf="selectedJobType"
                                [ngClass]="{'col': !selectedJobType, 'col-2':selectedJobType}">
                                <ng-select (change)="selectCity($event)" placeholder="City" [items]="gouvernorats"
                                    class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3  px-0" *ngIf="subDivisions&&selectedJobType"
                                [ngClass]="{'col': !selectedJobType, 'col-2':selectedJobType}">
                                <ng-select (change)="selectSubDivision($event)" placeholder="Zone"
                                    [items]="subDivisions" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item}}</h6>
                                    </ng-template>
                                </ng-select>

                            </div>
                            <div class="ml-md-2 mt-md-0 mt-3  px-0"
                                [ngClass]="{'col': !selectedJobType, 'col-2':selectedJobType}">
                                <ng-select (change)="selectJobType($event)" placeholder="Job Type" [items]="jobType"
                                    [(ngModel)]="selectedJobType" bindLabel="name" bindValue="value" class="custom">
                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                        let-search="searchTerm">
                                        <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}</h6>
                                    </ng-template>
                                </ng-select>
                            </div>


                        </div>
                    </div>


                </div>
                <div class="row mb-5">
                    <div class="col text-right">
                        <button (click)="openDriverPdfModal($event)" class="btn btn-primary mr-lg-3">Générer la fiche de
                            route de chauffeur</button>
                        <button (click)="openPickUpPdfModal($event)" class="btn btn-primary mr-lg-3">Générer le PDF du
                            PickUp</button>
                        <button (click)="openRetourPdfModal($event)" class="btn btn-primary ">Générer le PDF du
                            Retour</button>

                    </div>
                </div>
                <div class="searchable-items list">
                    <div class="items items-header-section">
                        <div class="item-content ">
                            <div class="user-profile col">
                                <div class="user-meta-info">
                                    <input type="checkbox" (click)="selectAll($event)" [(ngModel)]="allSelected">
                                </div>
                            </div>
                            <div class="col">
                                <h4>{{'CONCIERGERIE.CREATED_BY' | translate }} </h4>
                            </div>

                            <div class="user-location col">
                                <h4>{{'CONCIERGERIE.BUSINESS' | translate }} </h4>
                            </div>

                            <div class="user-email col">
                                <h4>{{'CONCIERGERIE.ADDRESS' | translate }} </h4>
                            </div>

                            <div class="user-phone col" *ngIf="!selectedJobType">
                                <h4>{{'CONCIERGERIE.FROM' | translate }}</h4>
                            </div>
                            <div class="user-phone col" *ngIf="!selectedJobType">
                                <h4>{{'CONCIERGERIE.TO' | translate }}</h4>
                            </div>
                            <div class="user-phone col">
                                <h4>
                                    {{'CONCIERGERIE.DRIVER' | translate }}
                                </h4>
                            </div>

                            <div class="user-phone col">
                                <h4>{{'CONCIERGERIE.STATUS' | translate }}</h4>
                            </div>
                            <div class="col-1">

                            </div>

                        </div>
                    </div>

                    <div class="items" *ngFor="let i = index;let item of requests  | paginate : { itemsPerPage: 10,
                         currentPage: p,
                        totalItems: total }">
                        <div class="item-content">
                            <div class="user-profile col">
                                <div class="user-meta-info">
                                    <input type="checkbox" (click)="selectOne($event,i)" [(ngModel)]="checkSelect[i]">
                                </div>
                            </div>

                            <div class="user-profile col">

                                <div class="user-meta-info">
                                    <p class="usr-location my-1 ml-2">{{item?.createdBy?.name}}</p>

                                </div>
                            </div>
                            <div class="user-email col">

                                <p class="usr-email-addr" *ngIf="!item?.passingClientName">
                                    {{ item?.business?.nomCommercial}}</p>
                                <p class="usr-email-addr" *ngIf="item.passingClientName">{{item?.passingClientName}}</p>
                            </div>
                            <div class="user-location col">

                                <p class="usr-location " *ngIf="!selectedJobType">{{item?.pickUp?.pickUpAddress}}</p>
                                <p class="usr-location " *ngIf="selectedJobType">{{item?.dropOff?.dropOffAddress}} </p>
                            </div>
                            <div class="user-phone col" *ngIf="!selectedJobType">
                                <p class=" ">{{item?.startDate| date:'dd MMM yyyy  H:mm  '}}</p>
                            </div>
                            <div class="user-phone col" *ngIf="!selectedJobType">
                                <p class=" ">{{item?.endDate| date:'dd MMM yyyy  H:mm '}}</p>
                            </div>
                            <div class="user-phone col">
                                <p class=" ">{{item?.driver?.name}}</p>
                            </div>

                            <div class="user-phone col">
                                <!--
                                     // 1 pending  
                                     // 2 assigned  
                                     // 3 accepted by driver  
                                     // 4 declined by driver 
                                     // 5 start the job 
                                     // 6 finish the job  
                                    -->
                                <div class="shadow-none badge badge-primary" *ngIf="item.status==1">
                                    {{'NOTIFICATION.STATUS.NEW'| translate}}
                                </div>
                                <div class="shadow-none badge badge-warning" *ngIf="item.status==2">
                                    {{'NOTIFICATION.STATUS.ASSIGNED'| translate}}
                                </div>
                                <div class="shadow-none badge badge-success" *ngIf="item.status==3">
                                    {{'NOTIFICATION.STATUS.ACCEPTED'| translate}}
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==4">
                                    {{'NOTIFICATION.STATUS.DECLINED'| translate}}
                                </div>
                                <div class="shadow-none badge badge-info" *ngIf="item.status==5">
                                    {{'NOTIFICATION.STATUS.STARTED'| translate}}
                                </div>
                                <div class="shadow-none badge badge" *ngIf="item.status==6">
                                    {{'NOTIFICATION.STATUS.FINISHED'| translate}}
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==7">
                                    {{'NOTIFICATION.STATUS.DECLINED_LAST_MINUTE'| translate}}
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==8">
                                    {{'NOTIFICATION.STATUS.DECLINED_BY_ADMIN'| translate}}
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==9">
                                    {{'NOTIFICATION.STATUS.UNSUCCESSFUL'| translate}}
                                </div>
                                <div class="shadow-none badge badge-info" *ngIf="item.status==10">
                                    {{'NOTIFICATION.STATUS.PICKED_UP'| translate}}
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==14">
                                    {{'NOTIFICATION.STATUS.DECLINED_BY_CLIENT'| translate}}
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==15">
                                    {{item?.jobRequest?.failureReason}}
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==16">
                                    Retour définitif
                                </div>
                                <div class="shadow-none badge badge-danger" *ngIf="item.status==17">
                                    Retour au client
                                </div>






                                <!-- <div class="shadow-none badge badge-danger"
                                    *ngIf="(item.status ==1 || item.status ==4 ||item.status ==7)  ">!!! URGENT !!!</div> -->

                            </div>

                            <div class="col-1 px-0">
                                <button class="btn btn-info btn-block  ft-12 py-1" (click)="openRequestInModal(item)"
                                    *ngIf="(item.status==1&&!item.pickUpJob) || (item.status==1&& item.pickUpJob && item.pickUpJob.status==6 )  ">
                                    assign
                                </button>

                                <button class="btn btn-info btn-block ft-12 py-1 " (click)="updateDriver(item)"
                                    *ngIf="item.status==2">
                                    update
                                </button>
                                <div class="mt-2" *ngIf="item.status!=1&&item.status!=6">
                                    <button (click)="resetJob(item)"
                                        class="btn btn-danger btn-block ft-12 py-1">reset</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row my-4">
                    <div class="col text-center">
                        <pagination-controls autoHide="true" (pageChange)="changePage($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal edit -->
<div class="modal fade" id="assignDriver4Delivery" tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row ">
                    <div class="col text-center">

                        <h5>
                            {{ selectedJob?.pickUp?.pickUpAddress}}
                            {{ selectedJob?.dropOff?.dropOffAddress}}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <div>
                            <agm-map style="    height: 250px;
                          width: 100%;
                         
                          background-color: rgb(229, 227, 223);" [latitude]="latitude" [longitude]="longitude"
                                [scrollwheel]="false" [zoom]="zoom">


                                <agm-marker style="height: 14px!important;" [latitude]="latitude"
                                    [longitude]="longitude" [iconUrl]="iconFrom
                                  ">

                                </agm-marker>



                            </agm-map>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mb-2">
                    <div class="col">
                        <ng-select required [(ngModel)]="newselectedDriver" placeholder="select a driver"
                            [items]="drivers" bindLabel="name" >
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <div class="d-flex justify-content-between my-auto">
                                    <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}</h6>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">

                        <div *ngIf="!newselectedDriver&& submitted" class="text-danger">
                            Please Select a captain
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">


                <button class="btn btn-secondary" id="closeModal" data-dismiss="modal"> <i
                        class="flaticon-delete-1"></i>
                    Discard</button>

                <button id="btn-add" (click)="assignDriverToJobs()" class="btn btn-primary">
                    Save</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="bonPickup" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <pickup-packaging-html-to-pdf *ngIf="dr.length>=1" [groupIds]="ids1" [deliveryRequests]="dr">
                </pickup-packaging-html-to-pdf>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="retourModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <retour-packaging-html-to-pdf *ngIf="retour.length>=1" [groupIds]="ids2" [deliveryRequests]="retour">
                </retour-packaging-html-to-pdf>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- update driver Modal -->
<div class="modal fade" id="updateDriver" tabindex="-1" aria-labelledby="updateDriverLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignDriverLabel">update a driver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-3 mb-2">
                    <div class="col">
                        <ng-select [(ngModel)]="updateDrivermInModal.driver" placeholder="select a driver"
                            [items]="drivers" bindLabel="name">


                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <div class="d-flex justify-content-between my-auto">
                                    <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}</h6>

                                </div>
                            </ng-template>


                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveUpdateJobRequest()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade  bd-example-modal-lg" id="driverModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <driver-packaging-html-to-pdf *ngIf="driver.length>=1" [jobsType]="jobsType"
                    [deliveryRequests]="driver">
                </driver-packaging-html-to-pdf>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>