<div class="container-fluid  bgStyle" [style.background-image]="'url(' + bg + ')'">

    <div class="row h-100">
        <div class="col-md-5 mx-auto my-auto">

            <div class="card login-cards">
                <div class="card-body p-4">
                    <h2 class="">
                        {{'RESET.TITLE'|translate}}
                    </h2>
                    <p class="signup-link"> {{'RESET.DESC'|translate}}</p>
                    <form class="text-left" [formGroup]="resetPwForm">
                        <div class=" inputLogin text-center">

                            <div id="email-field" class="field-wrapper input mt-3">
                                <input class="form-control login-inputs"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email"
                                    id="email" name="email" type="text" value="" placeholder="Email">
                            </div>
                            <div class="row mb-3 mt-3">
                                <div class="col">
                                    <span class="text-success">
                                        {{success}}
                                    </span>
                                    <span class="text-danger">
                                        {{error}}
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex justify-content-between">
                                <div class="field-wrapper">
                                    <button (click)="resetPw()" class="btn loginBtn"
                                        value="">{{'RESET.RESET_BTN'|translate}}</button>
                                </div>
                            </div>

                        </div>
                    </form>


                </div>
            </div>
        </div>


    </div>
</div>