<div class="layout-px-spacing">

    <div class="account-settings-container layout-top-spacing">

        <div class="account-content">
            <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                <div class="row">

                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing ">
                            <form id="work-experience" class="section work-experience" [formGroup]="businessForm">
                                <div class="info">
                                    <h5 class="">Client Informations</h5>
                                    <div class="row">

                                        <div class="col-md-11 mx-auto">

                                            <div class="work-section">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="degree2">Nom commercial
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <input [ngClass]="{ 'is-invalid': submitted && f.nomCommercial.errors }" formControlName="nomCommercial" type="text" class="form-control mb-4" id="degree2">
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="degree2">Registre du commerce</label>
                                                            <input [ngClass]="{ 'is-invalid': submitted && f.registreCommerce.errors }" formControlName="registreCommerce" type="text" class="form-control mb-4" id="degree2">
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="degree3">Raison sociale</label>
                                                                    <input [ngClass]="{ 'is-invalid': submitted && f.raisonSociale.errors }" formControlName="raisonSociale" type="text" class="form-control mb-4" id="degree3" value="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="degree4">Matricule fiscale</label>
                                                                    <input [ngClass]="{ 'is-invalid': submitted && f.matriculeFiscale.errors }" formControlName="matriculeFiscale" type="text" class="form-control mb-4" id="degree4" value="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="degree3">Contact email</label>
                                                                    <input [ngClass]="{ 'is-invalid': submitted && f.contactEmail.errors }" formControlName="contactEmail" type="text" class="form-control mb-4" id="degree3" value="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="degree4">Téléphone

                                                                        <span class="text-danger">*</span>
                                                                    </label>
                                                                    <input formControlName="tel"
                                                                    pattern="[0-9 ]{8}"
                                                                    
                                                                    [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" type="text" class="form-control mb-4" id="degree4" value="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="degree4">Site Web</label>
                                                                    <input [ngClass]="{ 'is-invalid': submitted && f.website.errors }" formControlName="website" type="text" class="form-control mb-4" id="degree4" value="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="degree3">Address
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <input [ngClass]="{ 'is-invalid': submitted && f.address.errors }" formControlName="address" class="form-control mb-4" matGoogleMapsAutocomplete country="tn" [value]="f.address.value" (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)" (keyup)="addressInputChanged($event)">
                                                        </div>
                                                    </div>
                                                    <div class="col-12" *ngIf="latitude&&longitude">
                                                        <agm-map style="height: 250px;" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                                                            <agm-marker [latitude]="latitude" [longitude]="longitude">
                                                            </agm-marker>
                                                        </agm-map>
                                                    </div>

                                                    <div class="col-md-12 text-right mt-5">
                                                        <button (click)="addBusiness()" id="add-work-exp" class="btn btn-primary">save</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
