<div class="mx-5 my-5" id="myPdf" *ngIf="deliveryRequests">
    <div class="mx-5 my-5 print-wrap page{{j+1}}" id="page{{j}}" *ngFor="let item of slices;let j= index">
        <div class="row mx-5">
            <div class="col-6 text-left mt-5">
                <img class="img-fluid" style="width:60%;" src="../../../assets/img/modal/intigrow.png">
                <h4>
                    INTIGROW SA
                </h4>
                <p>
                    13 Emna Bent Wahab,
                </p>
                <p>
                    Menzah 6 Ariana
                </p>
                <p>
                    Tél : 56 83 76 52
                </p>
                <p>
                    info@intigo.tn
                </p>
                <p>
                    www.intigo.tn
                </p>
                <br>
                <br>
            </div>
            <div class="col-6 text-center mt-5">
                <h3>{{type}} :</h3>
                <br>
                <br>
                <br>
                <div class="text-center">
                    <h5>Nom du Chauffeur: {{deliveryRequests[0].driver.name}}</h5>
                    <h5>Téléphone du Chauffeur: {{deliveryRequests[0].driver.tel}}</h5>
                    <h5>Date: {{today | date: 'M/d/yyyy'}}</h5>
                    <h5>Nombre de colis: {{slices[j].requests.length}}</h5>
                    <h5>Montant à collecter: {{slices[j].pagePrice}} DT</h5>

                </div>
                <br>
            </div>
        </div>
        <div class="row mx-5 pb-5">
            <br>
            <br>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Client</th>
                        <th scope="col" *ngIf="jobsType === 'dropOff'">Client final</th>
                        <th scope="col" *ngIf="jobsType === 'dropOff'">N. de téléphone de client final</th>
                        <th scope="col" *ngIf="jobsType === 'pickUp'">N. de téléphone de client</th>
                        <th scope="col" *ngIf="jobsType === 'dropOff'">Adresse de client final</th>
                        <th scope="col" *ngIf="jobsType === 'pickUp'">Adresse de client</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let req of slices[j].requests;let i = index">
                        <th scope="row">{{req?.nid}}</th>
                        <td class="ar" *ngIf="jobsType === 'dropOff'">{{req?.business?.nomCommercial}}</td>
                        <td class="ar" *ngIf="jobsType === 'pickUp'">{{req?.business?.nomCommercial}}</td>
                        <td *ngIf="jobsType === 'dropOff'">{{req?.dropOff?.deliveredTo?.name}}</td>
                        <td *ngIf="jobsType === 'pickUp'">{{req?.business?.tel}}</td>
                        <td *ngIf="jobsType === 'dropOff'">{{req?.dropOff?.deliveredTo?.phone}}</td>
                        <td class="ar" *ngIf="jobsType === 'pickUp'">{{req?.pickUp?.pickUpAddress}}</td>
                        <td class="ar" *ngIf="jobsType === 'dropOff'">{{req?.dropOff?.dropOffAddress}}</td>
                        <td>{{req?.amount}}DT</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<iframe class="d-none" frameBorder="0" id="sample-pdf"
    style="right:0; top:53px; bottom:0; height:400px; width:100%"></iframe>