<div class="container-fluid  bgStyle">
    <div class="row ">
        <div class="col-12 text-center mt-5">
            <h1><b>Bienvenue!</b></h1>
        </div>
    </div>
    <!-- <div class="row mt-5">
        <div class="col-md-5 d-md-block d-none pl-0">
            <img class="img-fluid bisos" src="./../../../../assets/img/backgrounds/bassemLoginPage.png" alt="">
        </div>
    </div> -->
    <div class="row mt-3 ">
        <div class="col-lg-6 mx-auto">
            <div class="row mx-md-3">
                <div class="col-md-10 d-md-block mx-auto">
                    <div class="card mx-lg-5 text-center login-cards">
                        <div class="card-body">
                            <img class="icon" src="../../../../assets/img/icons/admin.png" alt="Card image cap">
                            <h3 class="cardTitle mt-3">Admin</h3>

                            <form class="text-left mt-4 " [formGroup]="loginForm">
                                <div class="inputLogin text-center">

                                    <div id="username-field" class="">
                                        <input formControlName="email" id="username" name="email" type="email"
                                            class="form-control mx-auto login-inputs"
                                            placeholder="{{ 'LOGIN.EMAIL' | translate }}">
                                    </div>

                                    <div id="password-field" class="mt-3 d-flex ">
                                        <div class="w-100">
                                            <input (keyup.enter)="login()" formControlName="password" id="password"
                                                name="password" type="password"
                                                class="form-control mx-auto login-inputs"
                                                placeholder="{{ 'LOGIN.PASSWORD' | translate }}">
                                        </div>
                                        <div>
                                            <img (click)="seeMyPw()" class="seeMyPw"
                                                src="./../../../../assets/img/icons/view.png" alt="">

                                        </div>

                                    </div>
                                    <div class="row row mb-4" *ngIf="error">
                                        <div class="col text-danger">
                                            {{error}}
                                        </div>
                                    </div>
                             

                                    <div class="mt-4 float-right">
                                        <a type="btn" class="btn btn-none" (click)="login()">
                                            <img class="fluid-img" src="../../../../assets/img/icons/login.png"></a>
                                    </div>

                                    <!-- <div class="field-wrapper mt-2">
                            <a [routerLink]="[ '/auth/resetPassword' ]" class="forgot-pass-link text-center">Forgot
                                Password?</a>
                        </div> -->


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>