<div class="container-fluid  bgStyle" [style.background-image]="'url(' + bg + ')'">


    <div class="row h-100">
        <div class="col-md-4 mx-auto my-auto">

            <div class=" card login-cards">
                <div class=" card-body">

                    <h2 class="">
                        {{'RESET.TITLE'|translate}}
                    </h2>
                    <p class="signup-link"> {{'RESET.DESC'|translate}}</p>
                    <form class="text-left" [formGroup]="resetPasswordForm">
                        <div class="form inputLogin">

                            <div id="email-field" class="field-wrapper input">
                                <input class="form-control login-inputs" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    formControlName="password" type="password" value="" placeholder="Password">
                            </div>
                            <div id="email-field" class="field-wrapper input">
                                <input class="form-control login-inputs mt-3"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                                    formControlName="confirmPassword" type="password" value=""
                                    placeholder="Confirm Password">
                            </div>
                            <div class="row mb-3" *ngIf="errorDiffPassword">
                                <div class="col text-danger">
                                    {{'RESET.PASSWORD_NON_IDENTICAL' | translate}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <span class="text-success">
                                        {{success}}
                                    </span>
                                    <span class="text-danger">
                                        {{error}}
                                    </span>
                                </div>
                            </div>
                            <div class="">
                                <div class="field-wrapper text-right">
                                    <button (click)="resetMyPassword()" class="btn loginBtn" value="">
                                        {{'RESET.RESET_BTN'|translate}}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>


                </div>
            </div>
        </div>


    </div>
</div>