<div class="todo-item all-list"  >
    <div class="todo-item-inner">


        <div class="todo-content">
            <h5 class="todo-heading" data-todoHeading="Team meet at Starbucks"> Team
                meet at
                Starbucks</h5>
            <p class="meta-date">Aug, 07 2019</p>
            <p class="todo-text"
                data-todoHtml="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar feugiat consequat. Duis lacus nibh, sagittis id varius vel, aliquet non augue. Vivamus sem ante, ultrices at ex a, rhoncus ullamcorper tellus. Nunc iaculis eu ligula ac consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum mattis urna neque, eget posuere lorem tempus non. Suspendisse ac turpis dictum, convallis est ut, posuere sem. Etiam imperdiet aliquam risus, eu commodo urna vestibulum at. Suspendisse malesuada lorem eu sodales aliquam.</p>"
                data-todoText='{"ops":[{"insert":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar feugiat consequat. Duis lacus nibh, sagittis id varius vel, aliquet non augue. Vivamus sem ante, ultrices at ex a, rhoncus ullamcorper tellus. Nunc iaculis eu ligula ac consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum mattis urna neque, eget posuere lorem tempus non. Suspendisse ac turpis dictum, convallis est ut, posuere sem. Etiam imperdiet aliquam risus, eu commodo urna vestibulum at. Suspendisse malesuada lorem eu sodales aliquam.\n"}]}'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                pulvinar
                feugiat consequat. Duis lacus nibh, sagittis id varius vel, aliquet
                non
                augue. Vivamus sem ante, ultrices at ex a, rhoncus ullamcorper
                tellus. Nunc
                iaculis eu ligula ac consequat. Orci varius natoque penatibus et
                magnis dis
                parturient montes, nascetur ridiculus mus. Vestibulum mattis urna
                neque,
                eget posuere lorem tempus non. Suspendisse ac turpis dictum,
                convallis est
                ut, posuere sem. Etiam imperdiet aliquam risus, eu commodo urna
                vestibulum
                at. Suspendisse malesuada lorem eu sodales aliquam.</p>
        </div>

        <div class="priority-dropdown custom-dropdown-icon">
            <div class="dropdown p-dropdown">
                <a class="dropdown-toggle primary" href="#" role="button"
                    id="dropdownMenuLink-3" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-alert-octagon">
                        <polygon
                            points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2">
                        </polygon>
                        <line x1="12" y1="8" x2="12" y2="12"></line>
                        <line x1="12" y1="16" x2="12" y2="16"></line>
                    </svg>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-3">
                    <a class="dropdown-item danger" href="javascript:void(0);"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-alert-octagon">
                            <polygon
                                points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2">
                            </polygon>
                            <line x1="12" y1="8" x2="12" y2="12"></line>
                            <line x1="12" y1="16" x2="12" y2="16"></line>
                        </svg> High</a>
                    <a class="dropdown-item warning" href="javascript:void(0);"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-alert-octagon">
                            <polygon
                                points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2">
                            </polygon>
                            <line x1="12" y1="8" x2="12" y2="12"></line>
                            <line x1="12" y1="16" x2="12" y2="16"></line>
                        </svg> Middle</a>
                    <a class="dropdown-item primary" href="javascript:void(0);"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-alert-octagon">
                            <polygon
                                points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2">
                            </polygon>
                            <line x1="12" y1="8" x2="12" y2="12"></line>
                            <line x1="12" y1="16" x2="12" y2="16"></line>
                        </svg> Low</a>
                </div>
            </div>
        </div>

        <div class="action-dropdown custom-dropdown-icon">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button"
                    id="dropdownMenuLink-4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-more-vertical">
                        <circle cx="12" cy="12" r="1"></circle>
                        <circle cx="12" cy="5" r="1"></circle>
                        <circle cx="12" cy="19" r="1"></circle>
                    </svg>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-4">
                    <a class="edit dropdown-item"
                        href="javascript:void(0);">Edit</a>
                    <a class="important dropdown-item"
                        href="javascript:void(0);">Important</a>
                    <a class="dropdown-item delete"
                        href="javascript:void(0);">Delete</a>
                    <a class="dropdown-item permanent-delete"
                        href="javascript:void(0);">Permanent Delete</a>
                    <a class="dropdown-item revive"
                        href="javascript:void(0);">Revive
                        Task</a>
                </div>
            </div>
        </div>

    </div>
</div>