.leftpart{
    overflow: hidden;

    background: #f0f3f7;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
}

    .layout-px-spacing {
        padding: 0 20px 0 0px!important;
            min-height: calc(100vh - 170px)!important;
        }


.requestFixedRow{
    background: #fff;
    padding: 13px 48px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08);
    position: fixed;
    bottom: 0;
}
.spinner-border{
    height: 15px;
    width: 15px;
}
.sizeTitle{
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.packageSizeBox{
    cursor: pointer;
    border: 1px solid #bfc9d4;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}
.packageSizeBoxActive{

    border: 2px solid #0098a6 !important;

    color: #0098a6 !important;
}
.zIndex{
    z-index: 999;
}
@import "../../../../assets/css/forms/switches.css";
@import "../../../../assets/css/forms/theme-checkbox-radio.css";
