<div class="layout-px-spacing">

    <div class="">
        <div class="row">
            <div class="col-md-5 pr-md-0 zIndex ">
                <form [formGroup]="requestDelivery">
                    <div class=" leftpart h-100 px-3 pt-3">
                        <div class="card ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h4>Pick Up</h4>
                                    </div>
                                </div>

                                <div class="row mt-2" *ngIf="!showNewPickUpInputField">
                                    <div class="col-12">
                                        <select class="form-control "
                                            [ngClass]="{ 'is-invalid': submitted && f.pickUp.controls.pickUpAddress.errors }"
                                            (change)="showNewPickUpInput($event)">
                                            <option selected="selected" disabled value="">
                                                {{'LIVRAISON.SELECT_ADDRESS' | translate}}

                                            </option>

                                            <option value="1">
                                                {{'LIVRAISON.ADD_PICKUP' | translate}}
                                            </option>
                                            <option *ngFor="let item of oldPickUpPoints;let i=index;" [value]="i+2">
                                                {{item.name ? item.name :''}} {{item?.pickUpAddress}}
                                            </option>
                                        </select>

                                    </div>
                                </div>

                                <div formGroupName="pickUp">
                                    <div class="row mt-2" *ngIf="showNewPickUpInputField">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input (focusout)="openPickUpNameModal($event)" [ngClass]="{ 'is-invalid': submitted && (f.pickUp.controls.pickUpAddress.errors||
                                                    f.pickUp.controls.longitude.errors
                                                    ||f.pickUp.controls.latitude.errors)   }"
                                                    formControlName="pickUpAddress" class="form-control "
                                                    matGoogleMapsAutocomplete country="tn"
                                                    (onAutocompleteSelected)="onPickUpAutocompleteSelected($event)"
                                                    (onLocationSelected)="onPickUpLocationSelected($event)"
                                                    [value]=" f.pickUp.controls.pickUpAddress.value"
                                                    (keyup)="pickUpInputChanged($event)">
                                            </div>
                                        </div>
                                    </div>
                                    <!--  <div class="row mt-2">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input
                                                    [ngClass]="{ 'is-invalid': submitted &&  f.pickUp.controls.name.errors}"
                                                    formControlName="name" class="form-control mb-4"
                                                    placeholder="{{'LIVRAISON.PICKUP_NAME' | translate}}">
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <small class="text-danger"
                                    *ngIf="submitted&&f.pickUp.controls.pickUpAddress.hasError('required')">
                                    Ce champ est obligatoire.
                                </small>
                                <div>
                                    <small>
                                        {{'LIVRAISON.PICKUP_HELPER'| translate}}
                                    </small>
                                </div>
                                <div class="row mt-4" *ngIf="0">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div>
                                                <label for="degree2">{{ 'GENERAL.DATE'|translate}}</label>
                                            </div>
                                            <div>
                                                <dp-date-picker
                                                    [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
                                                    formControlName="startDate" theme="dp-material"
                                                    [config]="datePickerConfig">
                                                </dp-date-picker>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div>
                                                <label for="degree2">{{ 'CONCIERGERIE.FROMTO'|translate}}</label>
                                            </div>
                                            <div class="">
                                                <select [ngClass]="{ 'is-invalid': submitted &&  f.fromTo.errors}"
                                                    formControlName="fromTo" class="form-control mb-4">
                                                    <option selected="selected" disabled value="">
                                                        {{ 'CONCIERGERIE.FROMTO'|translate }}</option>
                                                    <option value="08:00-12:00">08:00 To 12:00</option>
                                                    <option value="12:00-16:00">12:00 To 16:00</option>
                                                    <option value="16:00:20:00">16:00 To 20:00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <select class="form-control  "
                                            [ngClass]="{ 'is-invalid': submitted && f.paymentStatus.errors }"
                                            formControlName="paymentStatus">
                                            <option selected="selected" disabled value="">

                                                {{'LIVRAISON.SELECT_PAYMENT' | translate}}
                                            </option>
                                            <option value="1">
                                                {{'LIVRAISON.PAYED' | translate}}
                                            </option>
                                            <option value="2" (click)="showAmountBox()">
                                                {{'LIVRAISON.COLLECT' | translate}}

                                            </option>
                                        </select>
                                        <small class="text-danger"
                                            *ngIf="submitted&&f.paymentStatus.hasError('required')">
                                            Ce champ est obligatoire.
                                        </small>

                                    </div>
                                </div>


                                <div class="row mt-2" *ngIf="f.paymentStatus.value==2">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input [ngClass]="{ 'is-invalid': submitted && f.amount.errors }"
                                                formControlName="amount" pattern="^[0-9]+(\.[0-9]{1,2})?$"
                                                class="form-control mb-4"
                                                placeholder="{{ 'LIVRAISON.AMOUNT' | translate }}">
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                        <div class="card mt-2 ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h4>Client</h4>
                                    </div>
                                </div>

                                <div formGroupName="dropOff">
                                    <div class="row mt-2" *ngIf="1">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input [ngClass]="{ 'is-invalid': submitted && (f.dropOff.controls.dropOffAddress.errors||
                                                    f.dropOff.controls.longitude.errors
                                                    ||f.dropOff.controls.latitude.errors)
                                                }" formControlName="dropOffAddress" class="form-control mb-4"
                                                    matGoogleMapsAutocomplete country="tn"
                                                    (onAutocompleteSelected)="onDropOffAutocompleteSelected($event)"
                                                    (onLocationSelected)="onDropOffLocationSelected($event)"
                                                    (keyup)="dropOffInputChanged($event)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-1" formGroupName="deliveredTo">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input class="form-control "
                                                    [ngClass]="{ 'is-invalid': submitted && f.dropOff.controls.deliveredTo.controls.name.errors }"
                                                    formControlName="name"
                                                    placeholder="{{ 'GENERAL.NAME' | translate }}">
                                                <small class="text-danger"
                                                    *ngIf="submitted&&f.dropOff.controls.deliveredTo.controls.name.hasError('required')">
                                                    Ce champ est obligatoire.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="col-12" *ngIf="0">
                                            <div class="form-group">
                                                <input class="form-control mb-4"
                                                    [ngClass]="{ 'is-invalid': submitted && f.dropOff.controls.deliveredTo.controls.email.errors }"
                                                    formControlName="email"
                                                    placeholder="{{ 'GENERAL.EMAIL' | translate }}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input class="form-control " pattern="[0-9 ]{8}" formControlName="phone"
                                                    [ngClass]="{ 'is-invalid': submitted && f.dropOff.controls.deliveredTo.controls.phone.errors }"
                                                    placeholder="{{ 'GENERAL.PHONE' | translate }}">
                                                <small class="text-danger"
                                                    *ngIf="submitted&&f.dropOff.controls.deliveredTo.controls.phone.hasError('required')">
                                                    Ce champ est obligatoire.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="f.dropOff.controls.deliveredTo.controls.phone.hasError('pattern')">

                                                    Ce champ est numerique de longueur 8

                                                </small>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <select [ngClass]="{ 'is-invalid': submitted &&  f.city.errors}"
                                                formControlName="city" class="form-control "
                                                (change)="cityChanged($event)">
                                                <option selected="selected" disabled value="">
                                                    {{ 'GENERAL.CITY'|translate }}
                                                </option>
                                                <option value={{item.division}} *ngFor="let item of gouvernorats">
                                                    {{item.division}}
                                                </option>

                                            </select>
                                            <small class="text-danger" *ngIf="submitted&&f.city.hasError('required')">
                                                Ce champ est obligatoire.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <select [ngClass]="{ 'is-invalid': submitted &&  f.subDivision.errors}"
                                                formControlName="subDivision" class="form-control ">
                                                <option selected="selected" disabled value="">
                                                    Zone
                                                </option>
                                                <option value={{item}}
                                                    *ngFor="let item of gouvernorats[selectedDivision].subDivisions">
                                                    {{item}}
                                                </option>

                                            </select>
                                            <small class="text-danger" *ngIf="submitted&&f.subDivision.hasError('required')">
                                                Ce champ est obligatoire.
                                            </small>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-4">
                                    <div class="col-12">
                                        <div class="form-group">

                                            <textarea class="form-control mb-4" formControlName="addInfo" rows="10"
                                                [ngClass]="{ 'is-invalid': submitted && f.addInfo.errors }"
                                                placeholder="{{ 'GENERAL.ADD_INFO' | translate }}"></textarea>


                                        </div>
                                    </div>
                                </div>


                            </div>



                        </div>
                        <div class="card mt-2 mb-5">
                            <div class="card-body">

                                <div class="row ">
                                    <div class="col pl-3">
                                        <h4>
                                            {{'CONCIERGERIE.DRIVER_DESC' | translate}} ?
                                        </h4>
                                        <div class="row mb-4">
                                            <div class="col">
                                                <ng-select placeholder="select a driver" formControlName="driver"
                                                    [items]="drivers" bindLabel="name">
                                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                                        let-search="searchTerm">
                                                        <div class="d-flex justify-content-between my-auto">
                                                            <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}
                                                            </h6>
                                                        </div>
                                                    </ng-template>
                                                </ng-select>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-2 mb-5" *ngIf="0">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col pl-3">
                                        <h4>
                                            {{'LIVRAISON.PACKAGE_SIZE' | translate}} ?
                                        </h4>
                                        <div class="row">
                                            <div class="col-md-6 mt-3 px-2">
                                                <div class="packageSizeBox" (click)="selectBoxSize(0)"
                                                    [ngClass]="{'packageSizeBoxActive': boxSize[0]}">
                                                    <div class="sizeTitle">
                                                        {{'LIVRAISON.EXTRA_SMALL' | translate}}

                                                    </div>
                                                    <div class="ft-12">
                                                        {{'LIVRAISON.EXTRA_SMALL_DESC' | translate}} </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-3 px-2">
                                                <div class="packageSizeBox" (click)="selectBoxSize(1)"
                                                    [ngClass]="{'packageSizeBoxActive': boxSize[1]}">
                                                    <div class="sizeTitle">
                                                        {{'LIVRAISON.SMALL' | translate}}


                                                    </div>
                                                    <div class="ft-12">
                                                        {{'LIVRAISON.SMALL_DESC' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-3 px-2">
                                                <div class="packageSizeBox" (click)="selectBoxSize(2)"
                                                    [ngClass]="{'packageSizeBoxActive': boxSize[2]}">
                                                    <div class="sizeTitle">
                                                        {{'LIVRAISON.MEDIUM' | translate}}

                                                    </div>
                                                    <div class="ft-12">
                                                        {{'LIVRAISON.MEDIUM_DESC' | translate}} </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-3 px-2">
                                                <div class="packageSizeBox" (click)="selectBoxSize(3)"
                                                    [ngClass]="{'packageSizeBoxActive': boxSize[3]}">
                                                    <div class="sizeTitle">

                                                        {{'LIVRAISON.LARGE' | translate}} </div>
                                                    <div class="ft-12">
                                                        {{'LIVRAISON.LARGE_DESC' | translate}} </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-3 px-2">
                                                <div class="packageSizeBox" (click)="selectBoxSize(4)"
                                                    [ngClass]="{'packageSizeBoxActive': boxSize[4]}">
                                                    <div class="sizeTitle">

                                                        {{'LIVRAISON.EXTRA_LARGE' | translate}} </div>
                                                    <div class="ft-12">
                                                        {{'LIVRAISON.EXTRA_LARGE_DESC' | translate}} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-2 mb-5 " *ngIf="0">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col pl-3">
                                        <h4>
                                            {{'LIVRAISON.WHEN' | translate}}
                                        </h4>
                                        <div class="d-flex mt-2 ">
                                            <div class="n-chk">
                                                <label class="new-control new-radio radio-classic-primary">
                                                    <input value=1 formControlName="when" type="radio"
                                                        class="new-control-input">
                                                    <span class="new-control-indicator mr-2"></span>

                                                    {{'LIVRAISON.FAST' | translate}}
                                                </label>
                                            </div>
                                            <div class="n-chk">
                                                <label class="new-control new-radio radio-classic-primary">
                                                    <input value=2 formControlName="when" type="radio"
                                                        class="new-control-input">
                                                    <span class="new-control-indicator mr-2"></span>
                                                    {{'LIVRAISON.NEXT_DAY' | translate}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col requestFixedRow">
                                <button type="submit" [disabled]="disableSendBtn" (click)="saveRequestDelivery()"
                                    class="btn btn-info">

                                    <div *ngIf="disableSendBtn"
                                        class="spinner-border text-white mr-2 align-self-center loader-sm "></div>
                                    {{'LIVRAISON.SEND_REQUEST' | translate}}
                                </button>
                            </div>



                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md px-0">
                <div>
                    <div>
                        <agm-map style="     height: 88vh;
                        width: 100%;
                        position: fixed;
                        top: 0px;
                        left: 0px;
                        padding-left: 233px;
                        background-color: rgb(229, 227, 223);
                        " [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">


                            <agm-marker style="height: 14px!important;" [latitude]="f.pickUp.controls.latitude.value"
                                [longitude]="f.pickUp.controls.longitude.value" [iconUrl]="iconFrom
                                ">

                            </agm-marker>

                            <agm-marker style="height: 14px!important;" [latitude]="f.dropOff.controls.latitude.value"
                                [longitude]="f.dropOff.controls.longitude.value" [iconUrl]="iconTo">

                            </agm-marker>

                        </agm-map>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="pickUpNameModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{'LIVRAISON.NEW_ADDRESS_NAME' | translate}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        {{'LIVRAISON.NEW_ADDRESS_TEXT' | translate}}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input [(ngModel)]="pname" class="form-control mb-4"
                                placeholder="{{'LIVRAISON.PICKUP_NAME' | translate}}">
                        </div>
                        <p *ngIf="pnameError" class="text-danger"> {{'LIVRAISON.PICKUP_NAME_ERROR' | translate}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" (click)="savePickUpName($event)" class="btn btn-primary">
                    {{'LIVRAISON.SAVE' | translate}}
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>