@import './../../../../assets/css/apps/contacts.css';
@import'./../../../../assets/css/forms/switches.css';

.availability {
    width: 10px;
    height: 10px;
    border-radius: 50%;

}


.false-img,
.true-img {
    width: 11%;
}


.no {
    background: #e7515a;
}

.yes {

    background: #49cc90;
}

.maybe {

    background: orange;
}

ng-select.required.ng-invalid.ng-touched {
    .ng-select-container {
        border-color: #dc3545;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
    }
}

ng-select.required.ng-invalid.ng-untouched {
    .ng-select-container {
        border-color: #dc3545;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
    }
}

.statusFiltersBtn {
    border: 1px solid #d3d3d3;
    padding: 0.4375rem 1.25rem;
    text-shadow: none;
    font-size: 14px;
    color: #3b3f5c;
    font-weight: normal;
    white-space: normal;

    touch-action: manipulation;
    cursor: pointer;
    background-color: #f1f2f3;

}

.deleteDateBtn {
    margin: auto;
    margin-left: -30px;
    z-index: 999;
}

.statusFiltersBtnActive {
    background: #0098a6 !important;
    color: white !important;
    border: 1px solid #0098a6 !important;
}

.ng-select.custom {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
}

::ng-deep {
    .ng-select .ng-select-container {
        height: 43px !important;
        border-radius: 0 !important;
    }

}

.bordereauxId {
    position: relative;
    top: -37px;
    left: 6px;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border-radius: 7px;
    padding: 5px 10px;
    background: white;
    box-shadow: 0px 8px 9px -12px #37474F;   
   

}
