<div class="container-fluid  bgStyle" [style.background-image]="'url(' + bg + ')'">

    <div class="row">
        <!-- <div class="col-md-5 d-md-block d-none pl-0">
            <img class="leftBg" src="./../../../../assets/img/backgrounds/bassemLoginPage.png" alt="">
        </div> -->
        <div class="col-md-4 mx-auto">
            <div class=" mt-md-5">

                <div class="card login-cards">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h1 class="">Créer un compte</h1>
                                <p class="signup-link ">Already have an account? <a class="text-info"
                                        [routerLink]="[ '/auth/login' ]">Log in</a>
                                </p>
                                <p class="signup-link text-danger" *ngIf="ErrorMsg">
                                    {{ErrorMsg}}
                                </p>
                            </div>
                        </div>

                        <form class=" mt-4 " *ngIf="!success" [formGroup]="registerForm">
                            <div class="inputLogin text-center">
                                <div class="form">

                                    <div class="row">
                                        <div class="col">
                                            <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                                formControlName="email" placeholder=" Email" name="firstName"
                                                type="text" class="form-control login-inputs">
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <input [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                                formControlName="firstName" type="text" class="form-control login-inputs"
                                                placeholder="First Name">
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <input [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                                formControlName="lastName" type="text" class="form-control login-inputs"
                                                placeholder="Last Name">
                                        </div>

                                    </div>


                                    <div class="row  mt-3">
                                        <div class="col">
                                            <input [ngClass]="{ 'is-invalid': submitted && f.tel.errors }"
                                                class="form-control login-inputs"
                                                pattern="[0-9 ]{8}"
                                                formControlName="tel" type="text"
                                                placeholder="Tel">
                                        </div>

                                    </div>
                                    <div class="row  mt-3">
                                        <div class="col">
                                            <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                class="form-control login-inputs" formControlName="password" type="password"
                                                placeholder="Password">
                                        </div>

                                    </div>

                                    <div class="mt-4">

                                        <div class="field-wrapper text-right">
                                            <button type="submit" (click)="register()" class="btn loginBtn" value="">Get
                                                Started!</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>

                        <div class="row mt-5" *ngIf="success">
                            <div class="col text-center">
                                <h3>
                                    {{'LOGIN.MSG_REGISTER' |translate}}
                                </h3>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>