<div class="layout-px-spacing">
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="col-12">
            <div class="row mt-3 mb-5 ">
                <div class="col">
                    <div *ngIf="total&&!errorPMsg" class="alert alert-success" role="alert">
                        Nombre de livraisons sélectionnées : {{total}} </div>
                    <div *ngIf="errorPMsg" class="alert alert-warning" role="alert">
                        {{errorPMsg}} </div>
                </div>

            </div>
        </div>


        <div class="col-lg-12">
            <div class="widget-content searchable-container list">
                <div class="searchable-items list">
                    <div class="items items-header-section">
                        <div class="item-content ">
                            <div class="col">
                                <h4>{{'CONCIERGERIE.CREATED_BY' | translate }} </h4>
                            </div>

                            <div class="user-location col">
                                <h4>{{'CONCIERGERIE.BUSINESS' | translate }} </h4>
                            </div>

                            <div class="user-phone col">
                                <h4>{{'PACKING_SLIP.PICKUP' | translate }} </h4>
                            </div>
                            <div class="user-phone col">
                                <h4>{{'PACKING_SLIP.DROP_OFF' | translate }} </h4>
                            </div>

                            <div class="action-btn col">
                                Action
                            </div>
                        </div>
                    </div>

                    <div class="items" *ngFor="let item of packingSlip  | paginate : {itemsPerPage : sharedService.itemsPerPage,
                         currentPage: p,
                        totalItems: total }">
                        <div class="item-content">
                            <div class="user-profile col">
                                <div class="user-meta-info">
                                    <p class="usr-location my-1 ml-2">{{item?.pickUpjobRequest?.createdBy?.name}}</p>
                                </div>
                            </div>
                            <div class="user-email col">
                                <p class="usr-email-addr" *ngIf="!item.pickUpjobRequest?.passingClientName">
                                    {{ item?.pickUpjobRequest?.business?.nomCommercial}}</p>
                                <p class="usr-email-addr" *ngIf="item.pickUpjobRequest.passingClientName">
                                    {{item.pickUpjobRequest?.passingClientName}}</p>
                            </div>
                            <div class="user-location col">
                                <p>
                                    {{item?.pickUpjobRequest?.pickUp?.pickUpAddress}}
                                </p>
                                <p class="usr-location ">
                                    <span class="  text-primary text-center" *ngIf="item.pickUpjobRequest.status==1">
                                        -
                                    </span>
                                    <span class="  text-warning" *ngIf="item.pickUpjobRequest.status==2">
                                        {{'NOTIFICATION.STATUS.ASSIGNED'| translate}}
                                    </span>
                                    <span class="   text-success" *ngIf="item.pickUpjobRequest.status==3">
                                        {{'NOTIFICATION.STATUS.ACCEPTED'| translate}}
                                    </span>
                                    <span class="   text-danger" *ngIf="item.pickUpjobRequest.status==4">
                                        {{'NOTIFICATION.STATUS.DECLINED'| translate}}
                                    </span>
                                    <span class="   text-info" *ngIf="item.pickUpjobRequest.status==5">
                                        {{'NOTIFICATION.STATUS.STARTED'| translate}}
                                    </span>
                                    <span class="   text-info " *ngIf="item.pickUpjobRequest.status==6">
                                        {{'NOTIFICATION.STATUS.FINISHED'| translate}}
                                    </span>
                                    <span class="   text-danger" *ngIf="item.pickUpjobRequest.status==7">
                                        {{'NOTIFICATION.STATUS.DECLINED_LAST_MINUTE'| translate}}
                                    </span>
                                    <span class="   text-danger" *ngIf="item.pickUpjobRequest.status==8">
                                        {{'NOTIFICATION.STATUS.DECLINED_BY_ADMIN'| translate}}
                                    </span>
                                    <span class="   text-danger" *ngIf="item.pickUpjobRequest.status==9">
                                        {{'NOTIFICATION.STATUS.UNSUCCESSFUL'| translate}}
                                    </span>
                                    <span class="shadow-none  text-success" *ngIf="item.pickUpjobRequest.status==10">
                                        {{'NOTIFICATION.STATUS.PICKED_UP'| translate}}
                                    </span>
                                </p>
                            </div>
                            <div class="user-phone col">
                                <p>
                                    {{item.dropOffjobRequest.dropOff.dropOffAddress}}
                                </p>
                                <p class=" ">

                                    <span class="  text-primary" *ngIf="item.dropOffjobRequest.status==1">
                                        -
                                    </span>
                                    <span class="  text-warning" *ngIf="item.dropOffjobRequest.status==2">
                                        {{'NOTIFICATION.STATUS.ASSIGNED'| translate}}
                                    </span>
                                    <span class="   text-success" *ngIf="item.dropOffjobRequest.status==3">
                                        {{'NOTIFICATION.STATUS.ACCEPTED'| translate}}
                                    </span>
                                    <span class="   text-danger" *ngIf="item.dropOffjobRequest.status==4">
                                        {{'NOTIFICATION.STATUS.DECLINED'| translate}}
                                    </span>
                                    <span class="   text-info" *ngIf="item.dropOffjobRequest.status==5">
                                        {{'NOTIFICATION.STATUS.STARTED'| translate}}
                                    </span>
                                    <span class="   text-info " *ngIf="item.dropOffjobRequest.status==6">
                                        {{'NOTIFICATION.STATUS.FINISHED'| translate}}
                                    </span>
                                    <span class="   text-danger" *ngIf="item.dropOffjobRequest.status==7">
                                        {{'NOTIFICATION.STATUS.DECLINED_LAST_MINUTE'| translate}}
                                    </span>
                                    <span class="   text-danger" *ngIf="item.dropOffjobRequest.status==8">
                                        {{'NOTIFICATION.STATUS.DECLINED_BY_ADMIN'| translate}}
                                    </span>
                                    <span class="   text-danger" *ngIf="item.dropOffjobRequest.status==9">
                                        {{'NOTIFICATION.STATUS.UNSUCCESSFUL'| translate}}
                                    </span>
                                    <span class="text-success" *ngIf="item.dropOffjobRequest.status==10">
                                        {{'NOTIFICATION.STATUS.PICKED_UP'| translate}}
                                    </span>
                                    <span class="text-danger" *ngIf="item.dropOffjobRequest.status==15">
                                        {{item?.dropOffjobRequest?.failureReason}}
                                    </span>

                                    <span class="text-danger" *ngIf="item.dropOffjobRequest.status==16">
                                        Retour définitif
                                    </span>


                                </p>
                            </div>


                            <div class="action-btn col text-center d-flex justify-content-between">

                                <button class="btn btn-primary py-1" (click)="openPackingSlip(item)">
                                    {{'SIDENAV.PACKING_SLIP' | translate}}
                                </button>


                            </div>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col text-center">
                            <pagination-controls autoHide="true" (pageChange)="changePage($event)">
                            </pagination-controls>
                        </div>
                        <div class="col-1 px-0 mr-2">
                            <select (change)="getAllTherequests()" [(ngModel)]="sharedService.itemsPerPage"
                                class="form-control">
                                <option value=10>10</option>
                                <option value=25 selected="selected">25</option>
                                <option value=50>50</option>
                                <option value=100>100</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>







<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="bordereau" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-packaging-html-to-pdf *ngIf="selectedPackingSlip" [nid]="selectedPackingSlip">
                </app-packaging-html-to-pdf>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>