<div class="layout-px-spacing  mt-5 " id="myPdf" *ngIf="deliveryRequest||nid">
    <div class=" layout-spacing layout-top-spacing">
        <div class="row mt-5">
            <div class="col text-center my-auto">
                <h1>
                    BORDEREAU
                </h1>
                <div>
                    <h2>
                        {{packingSlip?.nid}}
                    </h2>
                </div>
            </div>
            <div class="col text-center  mt-3 mt-md-5">
                <qrcode [qrdata]="packingSlip?._id" [width]="qrwidth" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <h2>Client</h2>
                <h5>{{packingSlip?.pickUpjobRequest?.business?.nomCommercial}}</h5>
                <h5>{{packingSlip?.pickUpjobRequest?.business?.tel}}</h5>
            </div>
            <div class="col text-center">
                <h2>Client final</h2>
                <h5>{{packingSlip?.dropOffjobRequest?.dropOff?.deliveredTo?.name}}</h5>
                <h5>{{packingSlip?.dropOffjobRequest?.dropOff?.deliveredTo?.phone}}</h5>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col text-center">
                <div class="row">
                    <div class="col">
                        <h2>Source</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col ar">
                        <h5>{{packingSlip?.pickUpjobRequest?.pickUp?.pickUpAddress}}</h5>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="row">
                    <div class="col">
                        <h2>Destination</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col ar">
                        <h5>
                            {{packingSlip?.dropOffjobRequest?.dropOff?.dropOffAddress}}
                        </h5>
                        
                        <h5 class="mt-2">{{packingSlip?.pickUpjobRequest?.city}}</h5>
                        <h5>{{packingSlip?.pickUpjobRequest?.subDivision}}</h5>

                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <div class="row">
                    <div class="col ">
                        <h2>
                            Date de la commande
                        </h2>
                    </div>
                </div>
                <h4>
                    {{packingSlip?.pickUpjobRequest?.startDate| date}}
                </h4>
            </div>
            <div class="col text-center">
                <div class="row">
                    <div class="col ">
                        <h2>
                            Etat de paiement
                        </h2>
                        <h4>
                            {{ packingSlip?.pickUpjobRequest?.paymentStatus == 1 ? "Payé" :packingSlip?.pickUpjobRequest.amount +' TND'
}}
                        </h4>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col" *ngIf="packingSlip?.pickUpjobRequest?.addInfo">
                <h2 class="text-center">
                    Information additionnelle
                </h2>
                <div class="row mt-2">
                    <div class="col text-center">
                        <h5>
                            {{packingSlip?.pickUpjobRequest?.addInfo}}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col" *ngIf="packingSlip?.pickUpjobRequest?.descProduit">
                <h2 class="text-center">
                    Description
                </h2>
                <div class="row mt-2">
                    <div class="col text-center">
                        <h5>
                            {{packingSlip?.pickUpjobRequest?.descProduit}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>



<iframe class="d-none" frameBorder="0" id="sample-pdf"
    style="right:0; top:53px; bottom:0; height:400px; width:100%"></iframe>