<div class="col-12 px-0">
    <agm-map style="height: 100vh;" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker *ngFor="let item of dropOffs" [latitude]="item.geoLocation.coordinates[1]" [longitude]="item.geoLocation.coordinates[0]" 
        [iconUrl]="boxIconFrom"
        >
        </agm-marker>

        <agm-marker  [latitude]="geoLocations[geoLocations.length-1][1]" [longitude]="geoLocations[geoLocations.length-1][0]" 
        [iconUrl]="iconFrom"
        >
        </agm-marker>


        <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#f27a21'">
			<agm-polyline-point *ngFor="let item of geoLocations; let i=index" [latitude]="item[1]"
				[longitude]="item[0]">

			</agm-polyline-point>
		</agm-polyline>
    </agm-map>
</div>


