<div class="layout-px-spacing">
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="col-lg-12">
            <form [formGroup]="filterBody " class="my-3">
                <div class="row">
                    <div class="col-md-2 col-5 ml-auto">
                        <dp-date-picker placeholder="Select a day" (onChange)="dateChanged()" formControlName="day"
                            theme="dp-material" [config]="datePickerConfig">
                        </dp-date-picker>
                    </div>
                </div>
            </form>
            <div class="widget-content searchable-container list">


                <div class="searchable-items list">
                    <div class="items items-header-section">
                        <div class="item-content ">
                            <div class="col-2">

                                <h4>Driver </h4>
                            </div>
                            <div class="user-email col">
                                <h4>Working Hours </h4>
                            </div>

                            <div class="user-email col-1 ">
                                <h4>Total </h4>
                            </div>

                        </div>
                    </div>
                    <div class="items">
                        <div class="item-content"
                            *ngFor="let item of drivers | paginate: { itemsPerPage: 10, currentPage: p ,totalItems: total } ">
                            <div class="user-profile col-2">

                                <div class="user-meta-info">
                                    <p class="usr-location my-1 ml-2">
                                        {{item?.name}}
                                    </p>

                                </div>
                            </div>

                            <div class="user-location col text-left">

                                <div [ngClass]="{'badge-success': wh.status==6 , 'badge-warning': wh.status!=6}"
                                    class="badge  mr-2 p-2 whours" *ngFor="let wh of item?.workingHours">
                                    {{wh.workingHours}}
                                    {{wh.startDate | date:' H:mm'  }}

                                    <img height="10" src="./../../../../assets/img/icons/forward.svg" alt="">

                                    {{wh.endDate | date:' H:mm' }}
                                </div>

                            </div>
                            <div class="user-location col-1 px-0 text-left">

                                {{totalHours(item) + ' hours'}}


                            </div>




                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col text-center">
                            <pagination-controls autoHide="true" (pageChange)="changePage($event)">
                            </pagination-controls>
                        </div>
                    </div>


                </div>



            </div>
        </div>
    </div>
</div>