<div>
    <div class="row">
        <div class="col">
            <div class="timeline-line">
                <div class="item-timeline">
                    <p class="t-time ft-11 ">
                        {{currentJobHistory[0]?.jobRequest.createdAt | date: 'M/d/yy HH:mm '}}
                        <br>
                        <span class="   text-info">
                            {{'NOTIFICATION.STATUS.NEW'| translate}}
                        </span>
                    </p>
                    <div class="t-dot t-dot-primary">
                    </div>

                    <div class="t-text d-flex">
                        <div>
                            <p>
                                pickUp Time :
                            </p>
                        </div>
                        <div class="text-center ">
                            <p class="text-info">
                                {{currentJobHistory[0]?.jobRequest.startDate | date }}
                            </p>
                            <p class="text-info">
                                {{currentJobHistory[0]?.jobRequest.startDate | date:'HH:mm ' }}
                                > {{currentJobHistory[0]?.jobRequest.endDate | date:'HH:mm ' }}
                            </p>

                        </div>
                    </div>


                </div>

                <div class="item-timeline" *ngFor="let item of currentJobHistory">
                    <p class="t-time ft-11 ">{{item.date | date: 'M/d/yy HH:mm '}}
                        <br>
                        <app-jobs-badge-status [status]="item.status" [item]="item.jobRequest" >
                        </app-jobs-badge-status>

                    </p>
                    <div class="t-dot t-dot-primary" [ngClass]="{
                        't-dot-primary': item.status==1,
                        't-dot-warning': item.status==2,
                        't-dot-success': item.status==3,
                        't-dot-danger': item.status== 4 || item.status== 7|| item.status== 8|| item.status== 9,
                        't-dot-info': item.status==5 || item.status==6 || item.status ==10
                   
                        
                }">
                    </div>
                    <div class="t-text">

                        <p>
                            {{ item.jobRequest.service == 1 ? ' Conciergerie ' :''}}
                            <span *ngIf="item.jobRequest.service == 2">
                                {{'GENERAL.DELIVERY_REQUEST' | translate}}
                                ( {{item.jobRequest.pickUpJob ? ' Livraison ' : ' pickup ' }}
                                )
                            </span>
                        </p>
                        <p class="">
                            <span class="ft-11" *ngIf="!item.isReturningToClient&&item.driver">
                                {{'CONCIERGERIE.DRIVER' | translate}} : {{item?.driver?.name }}
                            </span>
                        </p>
                        <p>
                            <span *ngIf="item.isReturningToClient" class="text-danger">
                                {{'LIVRAISON.RETURNING_SHIPMENT' | translate }}
                            </span>
                        </p>
                        <p *ngIf="item.isSwitchingDriver">
                            {{'GENERAL.OLD'|translate}} {{'CONCIERGERIE.DRIVER' | translate}} :
                            {{item?.oldDriver?.name }} <br>
                            {{'GENERAL.NEW'|translate}} {{'CONCIERGERIE.DRIVER' | translate}} :
                            {{item?.newDriver?.name }}
                        </p>
                        <p *ngIf="item.status==6">
                            Confirmed by : {{item?.actionDoneBy?.name }}
                        </p>
                        <p *ngIf="item.editedByAdmin">
                            edited By : {{item?.actionDoneBy?.name }}
                        </p>
                        <p *ngIf="item.status==14">
                            done By : {{item?.jobRequest?.createdBy?.name }}
                        </p>
                        <p *ngIf="item.editedByPartner&&item.jobRequest.pickUpJob">
                            livraison edited By our partner
                        </p>
                        <p *ngIf="item.editedByPartner&&!item.jobRequest.pickUpJob">
                            pick up edited By our partner
                        </p>
                    </div>
                </div>





            </div>
        </div>
        <div class="col" [ngClass]="{'col-12':  router.url.includes('fromMap')}">
            <h3>
                Historique des actions
            </h3>
            <div *ngIf="currentJobActionHistory.length" class="timeline-line">
                <div class="item-timeline" *ngFor="let item of currentJobActionHistory">

                    <p class="t-time ft-11 ">{{item.createdAt | date: 'M/d/yy HH:mm '}}
                        <br>
                        <span class="  text-warning" *ngIf="item.status==2">
                            {{'NOTIFICATION.STATUS.ASSIGNED'| translate}}
                        </span>
                        <span class="   text-success" *ngIf="item.status==3">
                            {{'NOTIFICATION.STATUS.ACCEPTED'| translate}}
                        </span>
                        <span class="   text-danger" *ngIf="item.status==4">
                            {{'NOTIFICATION.STATUS.DECLINED'| translate}}
                        </span>
                        <span class="   text-info" *ngIf="item.status==5">
                            {{'NOTIFICATION.STATUS.STARTED'| translate}}
                        </span>
                        <span class="   text-info " *ngIf="item.status==6">
                            {{'NOTIFICATION.STATUS.FINISHED'| translate}}
                        </span>
                        <span class="   text-danger" *ngIf="item.status==7">
                            {{'NOTIFICATION.STATUS.DECLINED_LAST_MINUTE'| translate}}
                        </span>
                        <span class="   text-danger" *ngIf="item.status==8">
                            {{'NOTIFICATION.STATUS.DECLINED_BY_ADMIN'| translate}}
                        </span>
                        <span class="   text-danger" *ngIf="item.status==9">
                            {{'NOTIFICATION.STATUS.UNSUCCESSFUL'| translate}}
                        </span>
                        <span class="   text-success" *ngIf="item.status==10">
                            {{'NOTIFICATION.STATUS.PICKED_UP'| translate}}
                        </span>
                        <span class=" text-danger" *ngIf="item.status==15">
                            {{item?.jobRequest?.failureReason}}
                        </span>
                        <span class=" text-danger" *ngIf="item.status==14">
                            {{'NOTIFICATION.STATUS.DECLINED_BY_CLIENT'| translate}}
                        </span>
                        <span class=" text-danger" *ngIf="item.status==16">
                            Retour définitif </span>


                    </p>
                    <div class="t-dot t-dot-primary">
                    </div>
                    <div class="t-text">

                        <p>
                            {{ item.jobRequest.service == 1 ? ' Conciergerie ' :''}}
                            <span *ngIf="item.jobRequest.service == 2">
                                {{'GENERAL.DELIVERY_REQUEST' | translate}}
                                ( {{item.jobRequest.pickUpJob ? ' dépôt ' : ' ramassage ' }}
                                )
                            </span>
                        </p>

                        <p>
                            action : {{item?.type }}
                        </p>
                        <p *ngIf="item?.driver">
                            done by : {{item?.driver?.name }}
                        </p>
                        <p *ngIf="item?.admin">
                            done by : {{item?.admin?.name }}
                        </p>
                    </div>
                </div>

            </div>

            <div *ngIf="currentJobActionHistory.length==0">
                pas d'action effectuer
            </div>
        </div>
    </div>

</div>