<div class="layout-px-spacing">
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="row mt-3 mb-5 ">
            <div class="col">
                <div *ngIf="total&&!errorPMsg" class="alert alert-success" role="alert">
                    Nombre de livraisons trouvées : {{total}} </div>
                <div *ngIf="errorPMsg" class="alert alert-warning" role="alert">
                    {{errorPMsg}} </div>
            </div>


        </div>
        <div class="col-lg-12">
            <div class="widget-content searchable-container list">
                <div class="searchable-items list">
                    <div class="items items-header-section">
                        <div class="item-content ">
                            <div class="col">
                                <h4>Num bordereau </h4>
                            </div>

                            <div class="col">
                                <h4>{{'CONCIERGERIE.CREATED_BY' | translate }} </h4>
                            </div>

                            <div class="user-location col">
                                <h4>{{'CONCIERGERIE.BUSINESS' | translate }} </h4>
                            </div>

                            <div class="user-email col">
                                <h4>Type </h4>
                            </div>

                            <div class="user-phone col">
                                <h4>{{'CONCIERGERIE.FROM' | translate }}</h4>
                            </div>
                            <div class="user-phone col">
                                <h4>{{'CONCIERGERIE.TO' | translate }}</h4>
                            </div>
                            <div class="user-phone col">
                                <h4>
                                    {{'CONCIERGERIE.DRIVER' | translate }}
                                </h4>
                            </div>

                            <div class="user-phone col">
                                <h4>{{'GENERAL.NB_FAILS' | translate }}</h4>
                            </div>

                            <div class="action-btn col">
                                Action
                            </div>
                        </div>
                    </div>

                    <div class="items" *ngFor="let item of unsuceessfulDelivries  | paginate : { itemsPerPage: 10,
                         currentPage: p,
                        totalItems: total }">
                        <div class="item-content">
                            <div class="user-profile col">

                                <div class="user-meta-info">
                                    <p class="usr-location my-1 ml-2">{{item?.nid}}</p>

                                </div>
                              
                            </div>
                            <div class="user-meta-info col">
                                <p class="usr-location my-1 ml-2">{{item?.createdBy?.name}}</p>

                            </div>
                            <div class="user-email col">

                                <p class="usr-email-addr" *ngIf="1">
                                    {{ item?.business?.nomCommercial}}
                                </p>
                                <p class="usr-email-addr" *ngIf="item.passingClientName">{{item?.passingClientName}}</p>
                            </div>
                            <div class="user-location col">

                                <p class="usr-location "> {{item.pickUp ? 'ramassage' : 'dépôt'}}
                                </p>
                            </div>
                            <div class="user-phone col">
                                <p class=" "> {{item.pickUp ? item.pickUp.pickUpAddress : ' Intigo  '}} </p>
                            </div>
                            <div class="user-phone col">
                                <p class=""> {{item?.dropOff?.dropOffAddress}} </p>
                            </div>
                            <div class="user-phone col">
                                <p class=" ">{{item?.driver?.name}}</p>
                            </div>

                            <div class="user-phone col text-center" [ngClass]="{'text-danger font-weight-bold': item.nbFail>1}">

                                {{item?.nbFail}}

                            </div>
                            <div class="action-btn col text-center d-flex justify-content-between">

                                <button class="btn btn-primary py-1" (click)="openDecideModal(item)">
                                    Decide
                                </button>


                            </div>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col text-center">
                            <pagination-controls autoHide="true" (pageChange)="changePage($event)">
                            </pagination-controls>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="decideModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{'LIVRAISON.DEAL_WITH'| translate}}

                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" *ngIf="selectedItem?.pickUpJob" (click)="decide(2)">Retour définitif</button>

                <button type="button" class="btn btn-primary" (click)="decide(1)">{{'LIVRAISON.TRY_AGAIN' | translate}}</button>
            </div>
        </div>
    </div>
</div>
