<div class="layout-px-spacing">
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-9 filtered-list-search layout-spacing align-self-center d-flex">
                    <form class="form-inline my-2 my-lg-0 ">
                        <div class="d-flex w-100">
                            <div class="">
                                <input type="text" class="form-control product-search" (keyup)="onKey($event)"
                                    placeholder="Client name">
                            </div>
                            <div class="ml-2">

                                <input type="text" class="form-control product-search" (keyup)="onKeyTelPressed($event)"
                                    placeholder="Client phone">
                            </div>
                            <div class="ml-2">

                                <input type="number" class="form-control product-search"
                                    (keyup)="onBordereauxKey($event)" placeholder="Num bordereau">
                            </div>




                        </div>
                    </form>
                    <div class=" ml-2 mt-md-0  col-md-3 px-0">
                        <ng-select (change)="activeStatus($event)" placeholder="select a status" [items]="status"
                            bindLabel="name" bindValue="value" class="custom">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <h6 class="mb-0" [ngOptionHighlight]="search">{{item.name}}</h6>
                            </ng-template>
                        </ng-select>
                    </div>

                </div>

                <div class="col-md-3 text-sm-right text-center layout-spacing align-self-center">

                    <a [routerLink]="[ '/business/livraison/add' ]" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-plus">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg> {{'LIVRAISON.TITLE' | translate}}
                    </a>

                </div>
            </div>
            <div class="row mt-3 mb-3 ">
                <div class="col">
                    <div *ngIf="total&&!errorPMsg" class="alert alert-success" role="alert">
                        Nombre de livraisons trouvées : {{total}} </div>
                    <div *ngIf="errorPMsg" class="alert alert-warning" role="alert">
                        {{errorPMsg}} </div>
                </div>
                <div class="col" *ngIf="total&&money">
                    <div class="alert alert-success" role="alert">
                        somme d'argent à récupérer : {{money}} dinars </div>

                </div>
                <div class="col-12 col-md-3 text-right mt-2">
                    <input type="file" class="d-none" (change)="onChange($event)" #inputFile>
                    <button class="btn btn-primary" (click)="inputFile.click()">
                        Upload Excel
                    </button>
                </div>


            </div>
            <div class="widget-content searchable-container list">
                <div class="searchable-items list">
                    <div class="items items-header-section">
                        <div class="item-content ">
                            <div class="user-email col">
                                Numero
                            </div>

                            <div class="col">
                                <h4>{{'CONCIERGERIE.CREATED_BY' | translate }} </h4>
                            </div>

                            <div class="user-location col">
                                <h4>Client </h4>
                            </div>



                            <div class="user-phone col">
                                <h4>{{'PACKING_SLIP.PICKUP' | translate }} </h4>
                            </div>
                            <div class="user-phone col">
                                <h4>{{'PACKING_SLIP.DROP_OFF' | translate }} </h4>
                            </div>
                            <div class="user-phone col-1">
                                <h4>{{'PACKING_SLIP.ARGENT_RECU' | translate }} </h4>
                            </div>



                            <div class="action-btn col">
                                Action
                            </div>
                        </div>
                    </div>

                    <div class="items" *ngFor="let item of packingSlip  | paginate : { itemsPerPage: sharedService.itemsPerPage,
                         currentPage: p,
                        totalItems: total }">
                        <div class="item-content">
                            <div class="user-email col">
                                {{item?.nid}}
                            </div>
                            <div class="user-profile col">

                                <div class="user-meta-info">
                                    <p class="usr-location my-1 ">{{item?.pickUpjobRequest?.createdBy?.name}}</p>
                                    <a class="text-info pointer" *ngIf="item.isExchangeFor"
                                        (click)="openOldPackingSlip(item.isExchangeFor)">exchange for </a>

                                </div>
                            </div>
                            <div class="user-email col">

                                <p class="usr-email-addr">
                                    {{ item?.dropOffjobRequest?.dropOff?.deliveredTo?.name}}
                                </p>
                                <p class="usr-email-addr">
                                    {{item.dropOffjobRequest?.dropOff?.deliveredTo?.phone}}
                                </p>
                            </div>


                            <div class="user-location col">
                                <p>
                                    {{item.pickUpjobRequest.pickUp.pickUpAddress}}
                                </p>
                                <p>
                                    <app-jobs-badge-status [status]="item.pickUpjobRequest.status"
                                        [item]="item.pickUpjobRequest" [status4Partner]="true">
                                    </app-jobs-badge-status>
                                </p>

                                <p class="mt-1" *ngIf="item?.pickUpjobRequest?.driver">
                                    driver : {{item?.pickUpjobRequest?.driver?.name}}
                                </p>
                            </div>
                            <div class="user-phone col">
                                <p>
                                    {{item?.dropOffjobRequest?.dropOff?.dropOffAddress}}
                                </p>
                                <p>
                                    <app-jobs-badge-status [status]="item.dropOffjobRequest.status"
                                        [item]="item.dropOffjobRequest" [status4Partner]="true">
                                    </app-jobs-badge-status>
                                </p>

                                <p class="mt-1" *ngIf="item?.dropOffjobRequest?.driver">
                                    driver : {{item?.dropOffjobRequest?.driver?.name}}
                                </p>
                            </div>
                            <div class="col-1 text-center">
                                <img *ngIf="!item.dropOffjobRequest?.moneySentToClient"
                                    src="../../../../assets/img/icons/false.png" class="iconMoney fluid-img">
                                <img *ngIf="item.dropOffjobRequest?.moneySentToClient"
                                    src="../../../../assets/img/icons/true.png" class="iconMoney fluid-img">
                                <div *ngIf="item?.dropOffjobRequest?.amount>0">
                                    {{item?.dropOffjobRequest?.amount}}Dt
                                </div>
                            </div>


                            <div class="action-btn col text-center d-flex flex-column justify-content-between">

                                <button class="btn btn-outline-primary py-1" (click)="openPackingSlip(item)">
                                    {{'SIDENAV.PACKING_SLIP' | translate}}
                                </button>
                                <button *ngIf="item.pickUpjobRequest.status > 1" class="btn btn-outline-info py-1 mt-2"
                                    (click)="openJobHistory(item)">
                                    {{'LIVRAISON.HISTORY' | translate}}
                                </button>
                                <button *ngIf="item.pickUpjobRequest.status == 1"
                                    class="btn btn-outline-danger py-1 mt-2" (click)="abortMission(item)">
                                    Cancel
                                </button>
                                <button *ngIf="item.dropOffjobRequest.status == 16"
                                    class="btn btn-outline-warning py-1 mt-2" (click)="echanger(item)">
                                    Echanger
                                </button>

                                <button *ngIf="item.pickUpjobRequest.status <= 3 "
                                    class="btn btn-outline-warning py-1 mt-2" (click)="edit(item._id)">
                                    Edit
                                </button>


                            </div>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col text-center">
                            <pagination-controls autoHide="true" (pageChange)="changePage($event)">
                            </pagination-controls>
                        </div>
                        <div class="col-1 px-0 mr-2">
                            <select (change)="p=1;getAllTherequests();sharedService.updateNumberOfItemPerPage();"
                                [(ngModel)]="sharedService.itemsPerPage" class="form-control">
                                <option value=10>10</option>
                                <option value=25 selected="selected">25</option>
                                <option value=50>50</option>
                                <option value=100>100</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>





<!-- Modal bordereau -->
<div class="modal fade  bd-example-modal-lg" id="bordereau" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <app-packaging-html-to-pdf *ngIf="selectedPackingSlip" [showQrCode]="showQrCode"
                    [nid]="selectedPackingSlip">
                </app-packaging-html-to-pdf>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal history -->
<div class="modal fade  " id="history" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{'LIVRAISON.TITLE' | translate}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <app-job-request-history [job]="selectJobInHistoryModal"></app-job-request-history>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- import excel -->
<div class="modal fade  " id="xls" tabindex="-1" aria-labelledby="xls" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="xls"> {{'LIVRAISON.TITLE' | translate}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="isExcelFile === false">
                    This is not an Excel file
                </div>
                <table class="table table-bordered" *ngIf="dataSheet">
                    <th *ngFor="let key of keys " class="ft-12">
                        {{key}}
                    </th>

                    <tr *ngFor="let item of dataSheet">
                        <td class="ft-12" *ngFor="let key of keys">
                            <span *ngIf="key!='done'">
                                {{item[key]}}

                            </span>

                            <span *ngIf="key=='done'">
                                <img *ngIf="!item[key]" src="../../../../assets/img/icons/false.png"
                                    class="iconMoney fluid-img">
                                <img *ngIf="item[key]" src="../../../../assets/img/icons/true.png"
                                    class="iconMoney fluid-img">
                            </span>

                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    [disabled]="btnDisabled">Close</button>
            </div>
        </div>
    </div>
</div>