@import './../../../../assets/css/apps/contacts.css';
::ng-deep {
    .ng-select .ng-select-container {
        height: 43px !important;
        border-radius: 0 !important;
    }

}

.iconMoney{
    height: 10px;
    width: 10px;
}